[2017-05-22 17:00] mahmoudhanafy opened #637 "Support run-time parameters as input for BigQuery, BigTable, ... names"
It would be good to support run-time parameters as input for table names like BigTable, BigQuery, ...
for ex:
`BigQueryIO` has method `BigQueryIO.Write.to(ValueProvider<String> tableSpec)`.

[2017-05-22 17:13] ravwojdyla commented on #605
Afaiu Beam's Bigtable IO does not support `ValueProvider` for options.

[2017-05-22 17:15] ravwojdyla commented on #637
Afaiu Beam's Bigtable IO does not support `ValueProvider` for options. Please report that issue to Beam. As for other IOs - we should see if that is doable, if not users should just use Beam IOs for templates.

[2017-05-23 09:27] kanterov commented on #517
There are technical problems with running UDFs in BigQuery. It was never supposed to be widely used, and there is a quota on concurrent executions. Perhaps it doesn't worth simplification, it should be painful, and you should know what you are doing :).

[2017-05-23 09:30] kanterov commented on #458
Used this code snippet.

[code]

[2017-05-23 09:39] kanterov commented on #332
Are there any blockers ATM?

Did we consider having similar to https://github.com/tpolecat/doobie approach? In Doobie, you define a schema for case class yourself, and then there is a way to verify that query has a compatible schema.

I see there are at least these benefits:

- better compilation times because you don't verify schema in compile, but doing it in tests
- out of box IDE support, beca

[2017-05-23 14:42] nevillelyh commented on #332
No blocker, just not prioritized high enough.

Yeah `BigQueryType.toTable` is similar to the doobie approach, but using macros instead of shapeless for deriving converters. https://github.com/nevillelyh/shapeless-datatype has a similar approach for BQ <-> case class conversion using shapeless and can be expanded to handle this.

My concern is too many options might confuse users, especially since

[2017-05-23 20:04] sfines opened #638 "Unable to execute pipeline with windowing /sharding transform"
When running in a bounded window using SCIO 0.3.2-SNAPSHOT the following exception is thrown
` Unable to deserialize Coder: WindowedValue$FullWindowedValueCoder(KvCoder(BigQueryIO$ShardedKeyCoder(StringUtf8Coder),BigQueryIO$TableRowInfoCoder),GlobalWindow$Coder)`

[This Commit](https://github.com/apache/beam/commit/cbcec7c0520f151f348604621cc251b6ed9b1616) in the beam repository fixes the beam iss

[2017-05-23 20:49] sfines commented on #638
Here's a sample that reproduces it with the snapshot.
[ReproduceWindowingBug.scala.zip](https://github.com/spotify/scio/files/1023724/ReproduceWindowingBug.scala.zip)

The stack trace given on execution is:

`Exception in thread "main" java.lang.RuntimeException: Unable to deserialize Coder: WindowedValue$FullWindowedValueCoder(KvCoder(BigQueryIO$ShardedKeyCoder(StringUtf8Coder),BigQueryIO$TableRo

[2017-05-24 15:36] ravwojdyla commented on #337
#639 PR

[2017-05-24 20:02] ravwojdyla commented on #635
Looks like heisenbug - closing for now.

[2017-05-24 20:02] #635 closed

[2017-05-25 18:06] andrewsmartin commented on #517
Can we close this for now?

[2017-05-25 18:08] nevillelyh commented on #517
Yeah let's close and reopen when there's a better/clear way.

[2017-05-25 18:08] #517 closed

[2017-05-26 20:31] ravwojdyla opened #641 "NPE on REPL creation/redrawLine"
seems like 0dad9f4ca0f69d47026da6e6f65e3cff69402fa3 introduced a bug where `in` might still be `null` at the time of `in.redrawLine()`.

[2017-05-31 15:06] tchagnon opened #643 "NPE in BigQueryType.fromQuery input for null repeated fields"
When using a @BigQueryType.fromQuery generated class to execute a query and parse rows, I'm getting a NullPointerException.  Here's the exception:

[code]

I think I've tracked it down to one of the fields being a REPEATED RECORD in BQ, but the value in the TableRow result being null instead of empty list.  If I set that field to `Seq()` in unit test input, the test passes.  Will post more detail

[2017-05-31 15:16] tchagnon commented on #643
Internal gist of job snippets: https://ghe.spotify.net/gist/tchagnon/f2a64af7b4a57ac1cf7f7649fc2983dd

I'm sure this won't run, but it's the relevant parts.  I'll write a unit test in scio to try to repro if I get time.

[2017-05-31 15:30] ravwojdyla commented on #643
@tchagnon Thanks. How are you specifying the table in the args (could you share an example)? I suspect that the dry run is executed for standard syntax, while the query itself with legacy. Could you try to enforce the syntax with comment `#standardSQL` at the very beginning of the query?

[2017-05-31 15:57] ravwojdyla commented on #643
@tchagnon sorry - i actually misunderstood/jump-ahead a bit, so this is not for the query result, this is only for JobTest correct? In that case it actually makes sense, we had similar issue open for legacy syntax (#371), but standard syntax should give us back empty list not null the way, thus it makes sense that you need to do the same in test.

[2017-05-31 16:03] ravwojdyla opened #644 "IllegalAccessError on BigQueryTableRowIterator"
In `scio-repl version 0.3.1`:

[code]

[2017-05-31 17:23] ravwojdyla commented on #641
This happens if the dependency project has different revision - in our case `2.11.8` vs `2.11.11` (main scio).

[2017-05-31 17:29] ravwojdyla commented on #641
Probably does not worth working too much on this, but might be worth just checking if `in` is `null` and print some kind of meaningful warning/error and see if we could ignore this or is it fatal.

[2017-06-01 18:17] keithmcneill commented on #474
I like LATEST_ALL.  I would make LATEST behave like that.  I don't think there is need for multiple keywords to confuse things.  If there is no common partition the compile would fail.  Users could always use dates if that doesn't work.  I think LATEST_ALL will cover almost all cases that people want.

[2017-06-05 18:16] andrewsmartin opened #650 "java.lang.IllegalAccessError in BigQueryClient.getTableRows"
```Exception in thread "main" java.lang.IllegalAccessError: tried to access class org.apache.beam.sdk.io.gcp.bigquery.BigQueryTableRowIterator from class com.spotify.scio.bigquery.BigQueryClient$$anon$1```

This is probably a class loading issue. `BigQueryTableRowIterator` is package-private in the Beam SDK, and our patch made it public. At runtime it seems there can be a problem with classloading

[2017-06-05 18:19] andrewsmartin commented on #650
This is a dup of #644, closing.

[2017-06-05 18:19] #650 closed

[2017-06-05 18:23] andrewsmartin commented on #644
Copying my comment from #650...

This is probably a class loading issue. `BigQueryTableRowIterator` is package-private in the Beam SDK, and our patch made it public. At runtime it seems there can be a problem with classloading where it uses the Beam version instead. We can solve this by renaming the patched class.

[2017-06-05 18:27] ravwojdyla commented on #643
This works fine one a query, the code in the link has a "bug" where it was reading whole table not a query. We still might want to make it easier to specify test data by treating nulls in TableRow as empty seq, that obviously might open some other issues - anyway let's talk about it in separate issue.

[2017-06-05 18:27] #643 closed

[2017-06-05 18:40] nevillelyh opened #652 "Add unit tests for for saveAsPubsubWithAttributes"
Like #596 but updated for Beam 2.0

[2017-06-05 20:19] #644 closed

[2017-06-06 14:22] nevillelyh commented on #637
Let's keep the API simple for now and revisit when we're on Beam 2.x. Users can always fallback to custom IO.

[2017-06-06 14:22] #637 closed

[2017-06-06 16:37] ravwojdyla opened #655 "Add checkinit to test scalac options"
Add `checkinit` to `scalac` options tests process, but make sure that release packages do not contain this flag due to possible performance/serialization issues https://groups.google.com/forum/#!topic/scala-internals/twuNGENFOL8

[2017-06-06 20:21] #474 closed

[2017-06-06 20:32] #641 closed

[2017-06-07 17:14] ravwojdyla opened #660 "Suppress errors/warnings on unsafe warts in BQ generated code"
Some of the code generated by BQ macros breaks best practices like default arguments and use of  `Option.get`. If we want to use wartremover, we could suppress those errors in the generated code. What do you think?

[2017-06-08 15:34] ravwojdyla opened #662 "Provide sbt skeleton/cookie for ppl to bootstrap scio project"
For ppl to try out scio they can use scio-repl, which should work out of the box. Eventually ppl need to create their own sbt project, there is a couple of things to remember there tho, like:
 * enable paradise plugin
 * testing libraries
 * preferable the same version of scala as scio

We could probably use the sbt `new` bootstrap functionality too, and host skeleton/cookie.

[2017-06-08 15:35] regadas commented on #662
+1 on having it as `giter8` template

[2017-06-09 14:17] regadas commented on #662
@ravwojdyla something like this? https://github.com/regadas/scio-seed.g8 still very simple

[2017-06-12 14:00] justjoheinz opened #665 "Using @BigQueryType.toTable annotation results in cryptic error messages when the companion object already exists."
Doing something like

[code]

results in a very cryptic compile time error, because the macro does not expect that the companion object already exists.
This should be fixed, and eventually the wiki page about typed big query queries amended, that it is not allowed to provide a custom companion object.
Ideally the macro should be more stable and just add to the existing companion object.

[2017-06-12 14:33] nevillelyh commented on #665
Thanks for reporting. It's hard to fix this in macro though, due to 2 reasons I can think of.

- `case class Foo` is the only type annotated and visible by the macro while `case object Foo` is not, so it's hard to modify the companion object.
- Macro expansion happens before compilation and since `case object Foo` is not visible it's hard to detect duplicates.

I need to toy with some ideas but fo

[2017-06-12 15:03] ravwojdyla commented on #662
@regadas cool - looks like a good start, let me move it to spotify repo.

[2017-06-12 16:29] nevillelyh commented on #526
Don't have any concrete use case for this. Closing for now.

[2017-06-12 16:29] #526 closed

[2017-06-12 18:03] ravwojdyla commented on #638
This seems hard to backport, in this case probably makes sense to just wait for scio 0.4.x release based on beam v2. Closing for now.

[2017-06-12 18:03] #638 closed

[2017-06-12 19:30] ravwojdyla commented on #662
Now available at https://github.com/spotify/scio-template.g8

[2017-06-12 19:30] #662 closed

[2017-06-12 20:58] nevillelyh commented on #597
Here are the biggest dependencies on the latest master:
[code]

[2017-06-12 21:14] #624 closed

[2017-06-13 08:23] justjoheinz commented on #665
Maybe a better approach would be to declare a HelperClass which contains the methods which are to be generated. A little bit like for play-json.

[code]

Of course this would break compatibility, but AFAIK would improve IDE support. For some reason, the Intellj plugin does not work for me BTW.

[2017-06-13 14:28] nevillelyh commented on #665
Did you mean this plugin? https://github.com/spotify/scio-idea-plugin/
Could you file an issue there please?

[2017-06-13 15:53] nevillelyh commented on #603
There's an upstream IO available but it uses DataStax client to do token based range scans.
https://github.com/apache/beam/tree/master/sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra

[2017-06-13 19:04] bcleenders opened #669 "Consider allow passing config as file"
Instead of running
`sbt runMain com.foo.Bar --numWorkers=100 --diskType=(I dont even remember) --region=... --project=... --autoscaling_algorithm=...`
etc., it might be nice to have a config file that can be loaded instead (e.g. `sbt runMain com.foo.Bar --conf=~/scio.conf`)

Not sure how big of an issue it would be, since I can do `sbt runMain com.foo.Bar $(cat ~/scio.txt)` too.

[2017-06-13 19:23] ravwojdyla commented on #665
fyi - issue at spotify/scio-idea-plugin/issues/7

[2017-06-13 20:39] nevillelyh commented on #669
We can add some helper methods to ser/de `PipelineOptions` <-> JSON files. There isn't a standard for `Args` though, any opinion on this, also JSON or maybe YAML?

[2017-06-14 17:35] nevillelyh opened #673 "Port from GcsUtil to new FileSystem abstraction in Beam 2.0"
- [x] RemoteFileUtil
- [x] FileStorage
- [x] IoCommands
- [x] DistCacheIT
- [x] ItUtils
- [x] SparkeyIT

[2017-06-15 17:39] ravwojdyla opened #678 "Add predict on TensorFlow Example"
Add helper to feed/fetch Example proto out of a model - enhancement for #676

[2017-06-15 17:53] nevillelyh commented on #597
Removing `scio-extra` from `scio-repl` reduced size by ~35MB.

[2017-06-15 17:55] nevillelyh commented on #597
Probably not worth worrying about, closing for now.

[2017-06-15 17:55] #597 closed

[2017-06-15 17:57] ravwojdyla opened #679 "Add converters/*jections for between scala types and Tensor"
Related to TensorFlow API - would be nice to provide converters/(bi/in)jections for common types (arrays) to Tensor to make it easier to build Tensor objects.

[2017-06-15 18:25] richwhitjr commented on #679
Should this be in Scio or maybe instead in Bijection or similar library?  Seems useful outside of Scio also.

[2017-06-16 17:40] ravwojdyla commented on #600
Closing this - it's required/explicit in the beam 2.x / scio 4.0

[2017-06-16 17:40] #600 closed

[2017-06-16 21:36] ravwojdyla opened #685 "Document/Fix the new HDFS IO default configuration factory"
The new HDFS IO based on Beam's FS, as of 2.0.0 will handle configuration in a slightly different way, significet change is that it will not load configuration from classpath, instead default factory requires `HADOOP_CONF_DIR` or `YARN_CONF_DIR`.

To fix, either:
 * submit PR to Beam to add loading configuration from classpath
 * add loading of configuration from classpath within Scio itself
 * do

[2017-06-16 21:58] ravwojdyla opened #686 "Beam 2.0.0 - Scio HDFS module"
- [x] make it easy to use HDFS
 - [x] test that IO works
 - [x] test distCache on HDFS

[2017-06-16 21:58] ravwojdyla commented on #686
make it easy to use HDFS (#684)

[2017-06-17 00:16] ravwojdyla commented on #686
HDFS based distCache works fine in direct runner, fails on Dataflow runner: `Unable to find registrar for hdfs`.

[2017-06-19 10:35] amogh-git09 opened #687 "groupByKey doesn't work when using Pub/Sub as collection source."
I changed source of WindowsWordCount example program from text file to cloud Pub/Sub as shown below. I published shakespeare file's data to Pub/Sub which did get fetched properly but none of the transformations after `.groupByKey` seem to work.
[code]

[2017-06-19 14:08] ravwojdyla commented on #687
@amogh-git09 this should not be the case, we have a number of job that use Pub/Sub and GBK. Could you make sure that there are in fact element going in the GBK transformation, and check the system lag, also try to reduce your example to a [minimal example](https://stackoverflow.com/help/mcve). It might be that the windows are just no closed after GBK.

[2017-06-19 18:52] #673 closed

[2017-06-19 19:42] ravwojdyla commented on #686
Works fine in Dataflow.

[2017-06-19 19:42] #686 closed

[2017-06-19 20:52] andrewsmartin opened #689 "[Beam-2.0.0] Document metrics usage with checkpoints"
Metrics need to be declared as object members rather than in `main` if they are being used in a checkpoint `fn`, otherwise they get nulled out by the closure cleaner. We should document this.

[2017-06-19 21:22] andrewsmartin commented on #689
Can also avoid the closure issue by bring in the val from main to another val in the anonymous function, or dynamically get it by name:

[code]

[2017-06-20 14:23] andrewsmartin commented on #689
Added a FAQ entry. https://github.com/spotify/scio/wiki/FAQ#i-get-a-nullpointerexception-when-trying-to-update-a-metric-inside-a-checkpoint-function-help

[2017-06-20 14:23] #689 closed

[2017-06-20 17:07] #501 closed

[2017-06-20 17:50] #652 closed

[2017-06-21 13:58] ravwojdyla commented on #687
Closing for now - please reopen with minimal example if problem is still there.

[2017-06-21 13:58] #687 closed

[2017-06-21 15:27] #669 closed

[2017-06-21 19:08] nevillelyh commented on #603
We can probably reuse this for the bulk writer: https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/hadoop/cql3/CqlBulkRecordWriter.java

[2017-06-21 22:12] #626 closed

[2017-06-22 09:10] dgouyette opened #695 "RuntimeValue templates doesn't work"
I try to provide a RuntimeValue to my job

[code]

I made a really simple code to reproduce the error

[code]

When i want to launch the template with a google function like

[code]

I got the error

[code]

I previously ask the question on Stackoverflow here https://stackoverflow.com/questions/44628467/inconsistent-behavior-on-the-functioning-of-the-dataflow-templates

It's seem it due to scio (w

[2017-06-22 21:29] ravwojdyla opened #696 "Research how/if to expose ValueProvider APIs"
Currently if a user wants to use `ValueProvider` APIs, the user needs to use Beam based API, and wrap those into `custom*` scio API. We should research if we want to expose `ValueProvider` API for some common use cases.

[2017-06-22 21:41] ravwojdyla commented on #695
@dgouyette there is a couple of issues here:
 * scio does not currently expose `ValueProvider` based APIs - we now have an issue open for this #696
 * afaiu your example - you are actually creating a template for an empty pipeline - that is because `options.getInput.isAccessible` is `false` at template creation time

A working - please double check example would be something like:

[code]

I submi

[2017-06-23 15:07] dgouyette commented on #695
Thanks. It's works.
But it'll be more difficult with the others components (BigTable, ElasticSearch, XmlIO)...

[2017-06-23 15:07] #695 closed

[2017-06-23 15:10] dgouyette commented on #332
You can make a cross compilation (2.11 and 2.11)
I wrote a macro to make something like that :

[code]
it's already works in scala 2.11
I hope, it'll be useful

[2017-06-23 16:52] ravwojdyla commented on #695
@dgouyette as long as the internal/beam IO supports `ValueProvider` you can just use `customInput` and for output `saveAsCustomOutput`. If beam IO doesn't support `ValueProvider`  then there isn't much you can do, except open an issue to beam (and/or handle it in your own logic).

[2017-06-28 13:51] sisidra opened #704 "Full stack trace of failures on BigTable operation are never reported"
See https://github.com/spotify/scio/blob/90d9af1c862eaaea65f369064547041f52337986/scio-bigtable/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/PatchedBigtableIO.java#L618
The examples of cause message is reported, but the full stacktrace is not.
That hides possibly valuable debug information.

[2017-06-28 13:55] nevillelyh commented on #704
Thanks, would you mind creating a PR?

[2017-06-28 13:58] sisidra commented on #704
@nevillelyh do you think reporting stacktrace for each of 10 samples is good idea, or just one?

[2017-06-28 14:03] sisidra commented on #704
Or just rethrow with first cause: https://github.com/spotify/scio/blob/90d9af1c862eaaea65f369064547041f52337986/scio-bigtable/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/PatchedBigtableIO.java#L641 ?

[2017-06-28 14:10] nevillelyh commented on #704
One should be enough. `checkForFailures` is called per element so there's plenty of chance to surface that. How about a `LOG.debug` of the first `exc`?

[2017-06-28 14:25] sisidra commented on #704
Here is the PR: https://github.com/spotify/scio/pull/705

[2017-06-28 14:29] sisidra commented on #704
I added same first exceptions to suppressed list and let default logging to take care of nicely formatting message (on sidenote, multiline message for that IO exception was interfering with stacktrace anyway - mixed in between lines...).

[2017-06-29 17:20] #704 closed

[2017-06-29 18:55] nevillelyh commented on #665
Added a comment here https://github.com/spotify/scio/wiki/Type-Safe-BigQuery#companion-objects
I don't see a way to handle this properly right now. Will close for now. Feel free to reopen if anyone has better ideas :)

[2017-06-29 18:55] #665 closed

[2017-06-29 18:56] #603 closed

[2017-06-29 19:19] nevillelyh opened #706 "Extra Beam Sources or Sinks"
- [ ] Elasticsearch source
- [ ] Cassandra source
- [ ] HadoopOutputFormat sink (Beam really)

[2017-06-29 19:20] nevillelyh commented on #529
Doesn't seem to be a lot of interest or progress on this. Gonna close for now.

[2017-06-29 19:20] #529 closed

[2017-06-30 13:32] nevillelyh commented on #590
These are fixed in the beam-2.0 branch. Closing for now.

[2017-06-30 13:32] #590 closed

[2017-07-05 20:25] andrewsmartin commented on #469
I spent some time with `ClosureCleaner` and any fix would involve non-trivial (and probably dangerous) byte-code hacks. It's better to wait for https://github.com/scala/scala/pull/5782 and have the compiler handle this directly.

[2017-07-06 07:35] neurolabs opened #710 "Query fails due to temp/cache table existing"
Hi,

when repeating queries against a table, when the cache table is older (cache invalid), scio tries to query using the same temp table (see BigQueryClient#newQueryJob). This temp table then gets passed to the query job using a write disposition of "WRITE_EMPTY". This can't work, can it?

It leads to the following error:

[code]

This can be solved in many ways like:

* new temp table for invali

[2017-07-06 07:43] neurolabs commented on #710
Another thing to note: The error is only seen when querying the result of the submitted job.

[2017-07-06 16:18] nevillelyh commented on #710
This seems a duplicate of #556?
Do you have a consistent way of reproducing it?

[2017-07-06 17:44] neurolabs commented on #710
Sure, I do. I am only using scio-bigquery:

1. Read from table, scio creates a cache table
2. write to table
3. Read from table, scio reckons the cache is invalid, tries to create a cache table with the name of the existing table.

It's pretty obvious in the code, see BigQueryClient#newQueryJob, the else part of condition `sourceTimes.forall(_ < time)`.

My workaround is to delete the cache tables

[2017-07-06 22:04] nevillelyh commented on #556
Closing this and tracking it in #710.

[2017-07-06 22:04] #556 closed

[2017-07-07 00:08] #710 closed

[2017-07-07 21:43] neurolabs opened #718 "BigQuery: Thread leak of one thread per writeTypedRows-call"
When inserting into BigQuery via the BigQueryClient, for every call to writeTypedRows, another Thread is created. I haven't exactly figured out why, but my hunch is that a new ExecutorService gets created in BigQueryServicesImpl#insertAll using the passed options (which scio has influence on).

Please find attached a minimal project reproducing the issue. To get it up and running put a serviceacco

[2017-07-07 21:45] neurolabs commented on #718
[testcase.zip](https://github.com/spotify/scio/files/1132425/testcase.zip)

[2017-07-10 14:07] #718 closed

[2017-07-10 15:39] andrewsmartin opened #720 "Allow saving of beam-2.0.0 metrics"

[2017-07-10 23:27] andrewsmartin opened #722 "Allow custom prefix and shard naming template for output files"
Currently files output from `saveAsTextFile` etc use the pattern `part-XXXXX-of-YYYYY`. The underlying SDK has methods to customize this pattern and we should expose them (perhaps via default args like we do now with suffix).

[2017-07-10 23:50] nevillelyh commented on #722
What's the use case?

[2017-07-11 01:22] andrewsmartin commented on #722
Just convenience for preparing files read by something downstream that expects a certain format. But this is also handled easily by a quick post-processing step or using `.saveAsCustomOutput`, so we can leave this alone for now and revisit if a significant need arises.

[2017-07-11 01:22] #722 closed

[2017-07-14 13:04] nevillelyh opened #725 "Add shapeless-datatype examples for Avro, BigQuery, etc."

[2017-07-14 14:08] nevillelyh commented on #720
Fixed in #724

[2017-07-14 14:08] #720 closed

[2017-07-14 19:15] #725 closed

[2017-07-14 20:45] Tomczik76 opened #726 "Throw exception if the Project Id isn't valid passed to BigQueryClient.apply"
I wasted some time today because I passed an empty string to the BigQueryClient.apply method. An exception was only thrown when I call BigQueryClient.query and the exception was a NullPointerException. It would be a better developer experience if BigQueryClient.apply threw an exception if the project id wasn't valid.

[2017-07-14 20:50] nevillelyh commented on #726
Don't think we can check if a project ID exists without hitting the service. Do you think checking for null & empty string is enough? If so feel free to submit a PR. A `require` should be enough.

[2017-07-14 20:57] Tomczik76 commented on #726
In that case, it would be better if a more useful exception was thrown when the request was made to GCP. I believe the Google BigQuery client will throw an exception for a bad project id. I'd be happy to work on that if it is the desired effect.

[2017-07-14 21:01] nevillelyh commented on #726
Sure that'd be great. We can do both, `require` in the constructor and validation when requests are made?

[2017-07-14 21:07] Tomczik76 commented on #726
Sounds good, it will be a good introduction to the code base for me.

[2017-07-17 23:23] annaks opened #729 "AggregateByKey does not return complete protobuf message"
scio version = 0.2.12
scala version = 2.11.8

Recently, `aggregateByKey` does not return a complete protobuf message as it had previously when run with Dataflow.

Tests pass as expected and running locally also returns expected results but when using `BlockingDataflowPipelineRunner` and submitting the job to Dataflow, the data is missing the `id` fields.

For the following snippet when run on Data

[2017-07-18 11:21] nevillelyh opened #730 "Workaround BEAM-2532 BigQueryIO performance regression"
Might be a blocker for 0.4.0 adoption.
https://github.com/apache/beam/blob/master/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java#L174

[2017-07-18 15:14] #730 closed

[2017-07-18 15:32] nevillelyh commented on #729
Conformed that I can repro in latest Beam branch as well.

[2017-07-18 15:45] nevillelyh commented on #729
Added some assertions and found that `artistA.getId` is empty in `def combine`.

[2017-07-18 19:42] nevillelyh commented on #729
I'm able to reproduce this with vanilla Beam in https://github.com/nevillelyh/beam-proto-dbg. Will report to Google.

[2017-07-19 03:56] kennknowles commented on #729
Hello from Beam-land!

I believe the problem is `aggregateByKey(Artist.newBuilder.build)`. In your translation to raw Beam Java this manifests as `createAccumulator() { return Artist.newBuilder().build(); }`. What is happening is that this accumulator is being created and all inputs added to it, so there's no id to propagate.

This has always been a possible way of invoking a `CombineFn` but some

[2017-07-19 04:59] nevillelyh commented on #729
Thanks, great catch! Totally missed this.

So in this case `artistA` in `def combine` was not the result of `def transform`, but the original `Artist.newBuilder.build`. And `Artist.newBuilder(artistA)` in `combine` missed out the ID field.

The original code can be fixed by modifying `combine` to the following, in case either input is zero.

[code]

I'd say `aggregateByKey` still behaves as expect

[2017-07-20 02:40] #729 closed

[2017-07-20 02:55] nevillelyh opened #733 "KryoRegistrarLoader taking forever when running REPL from $HOME"
When running the 0.3.4 REPL locally, the process gets stuck with the following `jstack` trace. Looks like `KryoRegistrarLoader` is doing something stupid?

[code]

[code]

[2017-07-20 03:02] nevillelyh commented on #733
Turns out it works fine when running in a local directory instead of `$HOME`. `ClassLoader` must be scanning all my class files.

[2017-07-20 08:24] ravwojdyla commented on #733
CWD is the default classpath, so if you start scio-repl in `$HOME`, your `$HOME` is in the classpath thus `KryoRegistrarLoader` will scan your whole `$HOME` looking for possible serializers.

So seems like working as intended.

[2017-07-20 08:24] #733 closed

[2017-07-20 13:25] nevillelyh commented on #733
It can be confusing for new users trying scio out in `$HOME` though. Wonder if there's a way to work around this?

[2017-07-20 13:43] ravwojdyla commented on #733
@nevillelyh one way workaround this - could be to hardcoded classpath to the scio-repl jar. so in scio-repl script we could instead of using `-jar` do:

[code]

this would force classpath.

[2017-07-20 13:52] ravwojdyla commented on #733
@nevillelyh this is one possible work around: spotify/homebrew-public/pull/14

[2017-07-20 14:24] nevillelyh commented on #733
https://github.com/spotify/homebrew-public/pull/15 fixed it.

[2017-07-22 00:55] nevillelyh opened #737 "Fix proto file in beam 2.0"
I have a bunch that both read and write are broken for proto files in beam 2.0 due to broken coder inference. Should fix and add integration test, with files written both before and after the buffer change

[2017-07-22 06:16] nevillelyh commented on #737
Fix in https://github.com/spotify/scio/pull/738
Still can't figure out why `CoderRegistry#getCoder` doesn't work with Protobuf. Tried excluding `SerializableCoderProvider` from auto-service manifest but no luck.

[2017-07-22 14:25] nevillelyh commented on #737
Found the root cause of coder inference issue:
https://issues.apache.org/jira/browse/BEAM-2658

[2017-07-26 19:22] #737 closed

[2017-07-28 14:30] justjoheinz opened #742 "Writing an empty collection into a partitioned table throws NPE"
This is a regression bug in Beam 2.0 which has been fixed for Beam 2.1.
There is a merged PR available via
https://issues.apache.org/jira/browse/BEAM-2406

It would be nice, if this could be ported to scio 0.4.0 while scio is still in the beta phase.

[2017-07-28 17:43] nevillelyh opened #743 "FileSystemRegistrar not working in macros"
`TypeProvider` in `scio-avro` uses `FileSystems` to read Avro file header. `FileSystemRegistrar` uses auto-service and somehow are not loaded during macro compilation.

We have an ugly workaround right now but it'd be nice to use the official registration logic.
https://github.com/spotify/scio/blob/beam-2.0/scio-avro/src/main/scala/org/apache/beam/sdk/io/FileSystemsUtil.scala

[2017-07-28 18:39] nevillelyh commented on #468
Verified that this is fixed by Scala 2.12.3

[2017-07-28 18:39] #468 closed

[2017-07-28 18:42] nevillelyh commented on #469
Fixed in scala 2.12.3

[2017-07-28 18:42] #469 closed

[2017-07-28 18:44] nevillelyh opened #744 "Class fn ser/de failure in Scala 2.12.3"
`ClosureTest` fails in my WIP branch https://github.com/spotify/scio/tree/neville/scala-2.12
The class in question looks like `com.spotify.scio.values.ClosureTest$$Lambda$6035/545587540`, i.e. java 8 lambdas generated by the compiler.

[code]

[2017-07-28 20:23] Alevy01 opened #747 "ASM Dependency mismatch"
Scio is pulling in two versions of ASM (3.1 & 5.2) 3.1 pulls in ClassVisitor as an interface while 5.2 pulls it in as an abstract class. Reverting https://github.com/spotify/scio/commit/4273e1bf68eba0c790fff81c100a72f913b7c6db fixed this.

[code]

[2017-07-30 13:11] nevillelyh commented on #743
Fixed in #748

[2017-07-30 13:11] #743 closed

[2017-07-31 20:03] nevillelyh commented on #747
Fixed in #750

[2017-07-31 20:03] #747 closed

[2017-07-31 20:04] nevillelyh commented on #744
We're working around this with `-Ydelambdafy:inline` flag for now but it's probably required in user code as well.

[2017-07-31 20:13] nevillelyh commented on #744
Related: https://issues.apache.org/jira/browse/SPARK-14540

[2017-07-31 23:34] #742 closed

[2017-08-01 18:19] nevillelyh opened #753 "Backport BEAM-2628"
"AvroSource.split() sequentially opens every matched file"
https://issues.apache.org/jira/browse/BEAM-2628

This affects jobs with large number of Avro input files. We should consider backporting to 0.4.0

[2017-08-02 09:14] #753 closed

[2017-08-03 18:37] nevillelyh opened #755 "Avro serialization issue in 0.4.0-beta2"
Reported by @Tomczik76
cc @samschlegel
Could be related to 0fb8e3c5c4065ce800551deedd6a31b9474fdd7b

[code]

[2017-08-03 19:09] ravwojdyla commented on #685
Documented in https://github.com/spotify/scio/wiki/HDFS and updated in the cookie.

[2017-08-03 19:09] #685 closed

[2017-08-03 19:55] nevillelyh commented on #755
False alarm. Turns out the Avro Java class was generated by an older version of the compiler.

[2017-08-03 19:55] #755 closed

[2017-08-03 22:27] nevillelyh commented on #73
@samschlegel also found this: https://github.com/apache/beam/commit/35db7457bf8c95ac693c2c36c5f8909afc3f16ab

We can maybe add these as methods on a implicit class and to skip `JobTest` support.

[2017-08-04 13:46] nevillelyh opened #756 "Cleanup FAQ on wiki"
It's getting really long and hard to navigate. Plus GitHub markdown doesn't support TOC or collapsible lists. Need to figure out a way to clean it up.

https://github.com/ekalinin/github-markdown-toc

[2017-08-04 17:12] nevillelyh opened #757 "Add a flag to override isInteractive in BigQueryClient"
https://github.com/spotify/scio/blob/master/scio-bigquery/src/main/scala/com/spotify/scio/bigquery/BigQueryClient.scala#L117

[2017-08-04 21:30] nevillelyh commented on #756
Added a script in `scio.wiki.git:scripts/faq.sh` to update TOC. It still needs to be run manually once in a while but at least simplifies the task.

[2017-08-04 21:30] #756 closed

[2017-08-07 17:45] nevillelyh commented on #757
Fixed in #759

[2017-08-07 17:45] #757 closed

[2017-08-08 16:13] nevillelyh opened #760 "SCollectionMatchers don't work with shouldNot"
The following code doesn't work:
[code]

[2017-08-08 19:57] nevillelyh opened #762 "Try AvroParquet in/out again"
Using [HadoopInputFormatIO](https://github.com/apache/beam/blob/master/sdks/java/io/hadoop/input-format/src/main/java/org/apache/beam/sdk/io/hadoop/inputformat/HadoopInputFormatIO.java), [AvroParquet](https://github.com/apache/parquet-mr/tree/master/parquet-avro/src/main/java/org/apache/parquet/avro) and maybe my Avro macros https://github.com/nevillelyh/parquet-avro-extra

[2017-08-09 15:05] nevillelyh commented on #760
Turns out we cannot support `shouldNot` easily since the matcher `beEmtpy` translates to a `PAssert` which always runs successfully when generating `MatchResult`.

[code]

Test failure isn't triggered until `sc.close()` is called later and there's no way we can negate `val r` which happened already.

[2017-08-09 19:49] #760 closed

[2017-08-10 10:07] martinbomio opened #764 "$LATEST doesn't check that the partition suffix if a formatted string"
If I have two tables on the same dataset like:
[code]
If my query has (project-id.dataset.my_table_%s, $LATEST)

The $LATEST will grab `project-id.dataset.my_table_v2_20170808` table even though the actual table name prefix has no v2.

The expected behaviour will to return the `project-id.dataset.my_table_20170808`.

[2017-08-10 12:32] nevillelyh commented on #764
This is expected though since both have the prefix `project-id.dataset.my_table_` and the logic assumes all tables in the dataset follows the same partition scheme. Also note that `$LATEST` doesn't specify date format since it's more of a convention we use and not part of the BQ spec.

It's better in this case to put v2 tables in a different dataset, make sense?

[2017-08-10 13:02] martinbomio commented on #764
@nevillelyh yeah, that's what we are doing right now, but thought it could be open to discussion if smarter partition matching can be done in scio.
Is it possible to make any assumption on the suffix?

[2017-08-10 13:19] nevillelyh commented on #764
After discussion it's best to leave this out since we can't constraint the user's date format.

[2017-08-10 13:19] #764 closed

[2017-08-10 15:05] nevillelyh opened #765 "Add some utilities for wrapping Beam classes?"
Something under `com.spotify.scio.beam` maybe, convenience methods for wrapping `fn => SerializableFunction`, reducing `DoFn` boiler plate, etc.?

[2017-08-14 15:23] ravwojdyla opened #768 "IndexOutOfBoundsException on pubsubTopicWithAttributes in repl"
For:

[code]

and

[code]

I get:

[code]

[2017-08-14 16:34] nevillelyh opened #769 "Allow custom Circe printer in JSON IO"
https://github.com/circe/circe/issues/584

[2017-08-14 16:36] ravwojdyla commented on #768
Invalid - sorry. Closing.

[2017-08-14 16:36] #768 closed

[2017-08-14 18:13] #769 closed

[2017-08-15 00:53] ravwojdyla opened #772 "Add unsafeFlatMap"
Add `unsafeFlatMap` to handle errors and trade accuracy for latency.

Something along the lines of:

[code]

where `unsafeFlatMap` is sth like:

[code]

Possibly add threshold of errors (in a bundle(?)) as a parameter to cancel a job.

[2017-08-15 07:55] kanterov commented on #772
Is it actually `safeFlatMap`? It never crashes :)

[2017-08-15 07:57] kanterov commented on #762
On Github there are few implementations of Parquet without Hadoop dependency, one is using Apache Arrow, other is from scratch. I think it worths to look into them too.

[2017-08-15 09:41] richwhitjr commented on #762
Arrow could be worth a shot. Last I looked it only supported a subset of parquet though. Does open up some interesting possibilities though with calling python from Scio similar to what Spark is doing by sharing memory space.

[2017-08-15 14:06] ravwojdyla opened #775 "Expose MaximumBillingTier for BigQuery client/queries"

[2017-08-15 15:20] nevillelyh commented on #762
Yeah it'd be nice to have native Parquet IO plus non-Avro-based predicate & projection macros but that's a lot more work :)
#771 is solving the more immediate need of reading legacy parquet files, preferably with the same Avro projection/predicate logic.

[2017-08-16 10:24] Igosuki opened #777 "Remove DirectRunner dependency from scio-core"
Currently, the DirectRunner class is pulled in ScioContext's <init> path through here :
https://github.com/spotify/scio/blob/613b4a7264f89d0567c418f4c22436182a3098bd/scio-core/src/main/scala/com/spotify/scio/util/ScioUtil.scala#L52

This makes it impossible to evict beam-runners-direct-java and all its dependencies while using scio
to make the fat archive lighter, I don't think pulling this class

[2017-08-16 11:09] Igosuki opened #778 "Any allowed lateness fires empty windows and makes the reducers bug in scio"
I put the gist here https://gist.github.com/Igosuki/6a79e8b8a182dd1eb64a4bf255308061

Stacktrace :
[code]

Basically, there are no reduceOptions for JListWrappers which is the type of V when empty panes are fired by Beam.
Code that triggers the error is :
[code]
In com.spotify.scio.util.Functions

Is this the expected behavior ?

In order to make it work on my production job I don't allow lateness

[2017-08-16 14:37] nevillelyh commented on #777
It's a bit complicated. We use `DirectRunner` for testing, e.g. `JobTest` and running locally. It'll be nice to decouple all runners of course :)

Just curious
- What other problems does the direct runner dependency cause, apart from fat jar?
- How would you detect local vs remote without checking for `DirectRunner`?

[2017-08-16 15:17] nevillelyh opened #779 "Remove DataflowRunner dependency in scio-core"
1. ScioContext.scala - job name and files to stage
1. ScioResult.scala - DF service metrics
1. ScioUtil.scala - DF service metrics
1. ScioILoop.scala - `.as(classOf[DataflowPipelineOptions])`, can probably remove?
1. ScioBenchmark.scala - DF specific benchmark and metrics, cannot remove

[2017-08-16 15:18] nevillelyh commented on #777
Related #779

[2017-08-16 16:23] Igosuki commented on #777
Hey Neville,

I don't have any problems apart from the fatter jar, I'm running Scio just fine with Flink. There may be potential dependency conflicts between the Flink runtime and Beam dependencies, like with Jackson databind for instance (Beam uses 2.8.8, Flink uses 2.7.4), I resolve these by building my own Flink distro against Beams updated dependencies (like people do with Spark).

As for chec

[2017-08-16 16:47] ravwojdyla opened #780 "LATEST should only support date partitioned tables"
Assume, there is partitioned table: `foo.bar.table`, with 3 days:
* `foo.bar.table_20170426`
* `foo.bar.table_20170427`
* `foo.bar.table_20170428`
and a view `foo.bar.table_foo`. Current implementation of `LATEST` will pick `foo.bar.table_foo` as a max of partitions available for `foo.bar.table_`.  Maybe we should just filter numeric partitions?

[2017-08-16 16:52] nevillelyh commented on #777
Great to hear that you got Flink working. Would love to hear more about it if you get a chance :)

We plan to promote `beam-2.0` branch to `master` soon and release 0.4.0. We should make the runner changes in that branch only. I'd also like to review local vs remote logic and maybe eliminate some if possible.

Meanwhile we can look into what you suggested plus removing `DataflowRunner` dep (#779).

[2017-08-16 16:54] nevillelyh commented on #780
How would you handle different date/time formats, e.g. `2017-01-01`, `20170101H01`? It might still contain letters?

[2017-08-16 16:57] ravwojdyla commented on #780
@nevillelyh https://cloud.google.com/bigquery/docs/creating-partitioned-tables

[2017-08-16 17:37] nevillelyh commented on #778
Good catch. Seems that the behavior is not deterministic though. The example sometimes completes successfully. Is that the case on your side?

I'll look into a fix for this.

[2017-08-16 18:03] nevillelyh commented on #778
Actually not sure if this is fixable under the current architecture. The "official" `BinaryCombineFn` just returns `null` by default in the empty case which will cause a `Coder` NPE.

https://github.com/apache/beam/blob/master/sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Combine.java#L444

And the int/long cases just suggests that something like `0` to be used.
https://github.com/ap

[2017-08-16 18:29] #762 closed

[2017-08-16 18:43] nevillelyh commented on #778
I was gonna suggest `foldByKey[T: Monoid]` but realized that it doesn't default to zero either. Fixed in 410b5927093fbaa0534bd242c805f590c3216abc

[2017-08-16 19:12] #780 closed

[2017-08-16 19:20] samschlegel opened #782 "Set Keys on Entities in ShapelessDatastoreWriteExample"
Keys need to be set on every entity in order to be written to Datastore.

[2017-08-17 15:15] nevillelyh opened #783 "Support building annoy"
Similar to sparkey, building and loading annoy trees in a job.

[2017-08-17 15:41] nevillelyh opened #784 "Lazily batch in elastic search sink after group by key"
https://github.com/spotify/scio/blob/master/scio-elasticsearch2/src/main/java/org/apache/beam/sdk/io/elasticsearch/ElasticsearchIO.java#L223

This iterable to list conversion will blow up with large value group.

[2017-08-17 16:30] nevillelyh commented on #783
https://github.com/mskimm/ann4s

[2017-08-17 17:59] #772 closed

[2017-08-17 19:37] ravwojdyla commented on #775
Actually even tho possible, this isn't that important right now. Closing for now, if there when there is real need.

[2017-08-17 19:37] #775 closed

[2017-08-18 17:22] #784 closed

[2017-08-21 17:53] ravwojdyla opened #788 "Figure out a better way to test Bigtable Utils"
Right now, we have one util method to update number of nodes in Bigtable, the IT test is ignored, soon we will have two. We need a better way to test those Bigtable helpers. Afaik, Bigtable emulator available in gcloud tools, does not provide admin services, so would not work (?).

[2017-08-22 20:55] andrewsmartin opened #789 "Support tuning of side input cache size on workers"
Side input performance depends heavily on the ability to cache in worker memory. The size of the cache can be tuned via `--workerCacheMb` which comes from `DataflowWorkerHarnessOptions`. Currently though this will be ignored by Scio (unless forced using `ScioContext.parseArguments[DataflowWorkerHarnessOptions]`). We should add this option class to the registrar and support it out of the box.

[2017-08-22 21:01] nevillelyh commented on #789
The following seems to do the trick
[code]

[2017-08-22 21:51] nevillelyh opened #790 "sbt-unidoc broken on master"

[2017-08-23 14:55] nevillelyh opened #792 "Make Cassandra sink's parallelism tunable"
Right now it defaults to # of Cassandra nodes but may not be enough in some cases.

[2017-08-23 17:20] ravwojdyla opened #793 "annoy/sparkey distributed version"
Would be interesting to investigate distributed/partitioned versions of building/querying sparkey/annoy sideinputs.

For annoy to support large indexes, instead of grouping to `()` we might be able to build N annoy indexes (by grouping into `1..N`), and have wrapper atop of N annoy indexes that basically query all indexes (given that afair results come back sorted), we would basically just do a fi

[2017-08-23 18:34] nevillelyh commented on #789
Added an FAQ item https://github.com/spotify/scio/wiki/FAQ#how-do-i-improve-side-input-performance

[2017-08-23 18:34] #789 closed

[2017-08-24 16:48] nevillelyh opened #794 "AvroParquet write support"
We can probably adopt Beam's `AvroIO.Write`, replace the Avro file writer logic at the end with an Avro Parquet file writer and easily get Parquet file support.

[2017-08-24 17:40] nevillelyh commented on #764
Fixed in #781

[2017-08-24 18:36] #790 closed

[2017-08-24 20:46] #792 closed

[2017-08-24 20:59] nevillelyh opened #796 "Verify splittable DoFn works and add wrapper"
BEAM-1377 is in 2.1.0

[2017-08-24 21:00] nevillelyh opened #797 "Beam 2.2.0 checklist"
- [x] Verify Serializable TableSchema Supplier in BigQuerySourceBase [BEAM-2532](https://issues.apache.org/jira/browse/BEAM-2532) (probably in Beam 2.2.0)
- [x] Coder precedence [BEAM-2658](https://issues.apache.org/jira/browse/BEAM-2658) (probably in Beam 2.2.0)
- [x] Avro metadata when splitting [BEAM-2628](https://issues.apache.org/jira/browse/BEAM-2628) (probably in Beam 2.2.0)
- [x] Remove pa

[2017-08-24 21:01] nevillelyh commented on #778
@Igosuki did you get a chance to try it out? Don't think there's much I can do in the API layer w.r.t. `reduceByKey` behavior.

[2017-08-24 21:57] #633 closed

[2017-08-24 23:27] nevillelyh opened #799 "Submit BigtableIO change upstream"
This one 3ff62326 #705

[2017-08-25 18:17] nevillelyh commented on #799
PR: https://github.com/apache/beam/pull/3763

[2017-08-28 14:20] #794 closed

[2017-08-28 19:53] ravwojdyla opened #806 "Evaluate SDF"
Evaluate [SDF](https://beam.apache.org/blog/2017/08/16/splittable-do-fn.html), try things out, see what breaks etc.

[2017-08-29 00:05] nevillelyh commented on #806
Duplicate of #796?

[2017-08-29 00:05] #806 closed

[2017-08-29 17:44] francescoperera opened #810 "Options for TableRow typed getters ?"
I am new to Scio but I noticed that the typed getters for TableRow either do the type conversion or fall into a default value( which changes between types, string has a `null` as default while `boolean` has false. From my experience, this has been an issue when tables have nullable columns/fields.

I looked at the example and noticed that you can get around this by doing an `if` check

i.e
[code]

[2017-08-29 17:52] nevillelyh commented on #810
Have you looked at the type safe BigQuery API? It's the recommended way for working with BQ data.
https://github.com/spotify/scio/wiki/Type-Safe-BigQuery

[2017-08-29 18:16] francescoperera commented on #810
@nevillelyh  thanks for the reply. Yep I tried it (Type-Safe-BigQuery is one of favorite features of Scio), I just wanted  to see whether I can do the same with the traditional BQ API.

( In my opinion and feel free to correct me) one of the drawbacks of the Type-Safe-BigQuery is that based on the nature of the macro you have to define the query ( or table ) ahead of time( at compile time) and the

[2017-08-29 18:28] nevillelyh commented on #810
We can probably add something like `getBooleanOpt(name: String): Option[Boolean]`. Wanna submit a PR can we can discuss from there?

[2017-08-29 18:44] ravwojdyla commented on #810
@francescoperera this might be slightly of context, but technically, to some extend you can dynamically change the number of columns you read; as long as you follow certain rules around it (no new columns, standard-sql and maybe some other stuff), for example this should work:

[code]

so in this case the compile time schema is a superset of possible runtime options. Not sure if this is helpful fo

[2017-08-29 19:23] francescoperera commented on #810
@nevillelyh  yep sure PR sounds good. Are there specific guidelines for PR that you require ( other than branch + open PR)  ?

[2017-08-29 19:24] nevillelyh commented on #810
Great. Nothing in particular, but worth checking out the style guide:
https://github.com/spotify/scio/wiki/Style-Guide

[2017-08-29 19:26] francescoperera commented on #810
@ravwojdyla  thanks for the tip will keep it in mind, but I am more generally looking for an abstraction that allows me to read or write BQ given an unspecified number of columns, table , partitions.

[2017-08-30 12:30] kanterov commented on #393
Is it done?

[2017-08-30 13:03] #810 closed

[2017-08-30 16:11] ravwojdyla opened #815 "Issue in TF record coders"
There seems to be some kind of issue with TF record coders, there has been a couple of reports of issues with coder discovery, and I myself saw random failures like:

[code]

or

[code]

[2017-08-30 21:52] nevillelyh opened #817 "Fix withAllowedTimestampSkew deprecation warning"
Need to look at the implications

[2017-08-30 21:52] nevillelyh commented on #726
@Tomczik76 did you get a chance to look at this?

[2017-08-30 21:53] nevillelyh commented on #782
@samschlegel did you get a chance to look at this?

[2017-08-31 20:23] nevillelyh opened #820 "Unroll some inefficient flatMap we use internally"
We sometimes do something like this:

[code]

This could be inefficient if `s(side): List[String]` is large since `.map` is eager. We should unroll this into a `DoFn`, loop over the side directly and call `ctx.output()`.

[2017-08-31 21:05] nevillelyh commented on #506
WIP https://github.com/spotify/scio/tree/neville/bench

[2017-08-31 21:05] nevillelyh commented on #820
WIP https://github.com/spotify/scio/tree/neville/flatmap

[2017-08-31 22:23] samschlegel commented on #782
Can knock this out next week 👍

[2017-09-01 15:01] Tomczik76 commented on #726
Hey Neville, I haven't I've been too busy. I'll try to allocate some time next week to get to it.

[2017-09-05 15:21] kanterov commented on #820
Does it make sense for Scala 2.12? AFAIK there is some unrolling and inlining

[2017-09-05 19:24] andrewsmartin opened #827 "Properly wrap Beam coders instead of relying on Kryo"
I want to revisit something that came up in #476 (and seems relevant again - see #825). With `KryoAtomicCoder` we ended up, for example, adding code to mimic the behavior of `IterableLikeCoder` so it can properly handle large elements but we incurred a performance penalty too (#825). While it's awesome that we have Kryo to fall back on I think we can prevent performance issues and other things tha

[2017-09-05 19:53] kanterov commented on #827
Agree, also it worth to use specialized coder when saving objects to files. Our current serialization format is suited for both cases. It's suboptimal solution for shuffling, getting rid of `VarInt(-1)` header and chunks will improve a performance of encoding by extra 10%, as well as it's a significant part of the payload for small keys.

[2017-09-05 19:56] andrewsmartin commented on #827
Yep agree, it's especially problematic with small keys which I think are seen very often.

[2017-09-05 21:33] ravwojdyla opened #828 "Should handle error in waitForJobs"
`waitForJobs` might take time, and many calls to BQ, but a single failure of `bigquery.jobs().get(projectId, jobId).execute()` will fail the driver, which is obviously wasteful.

[2017-09-06 18:16] andrewsmartin commented on #827
Thinking about this a bit more - how bad would it be to just remove `KryoAtomicCoder` altogether? It would suck to force users to define coders for their custom types, but `KryoAtomicCoder` completely breaks coder inference and could cause essentially the same problems we've seen in the past (out of memory errors / bad performance) and any future problems from over-generalizing `KryoCoder` to do e

[2017-09-07 19:05] kanterov commented on #827
@andrewsmartin When I was building a prototype, I used the same approach as in github.com/typelevel/frameless, instead of `ClassTag` operations on `SCollection` require implicit `KCoder`. `KCoder` is typeclass that can encode Scala objects to/from a byte stream. It has few implicits with different priorities – specialized instances from Beam, as well as an implicit macro for case classes with lowe

[2017-09-07 19:12] nevillelyh commented on #827
I played around with this idea with shapeless type class companion too. But there're some downsides.
- Conversion to HList and back adds overhead, not sure how that compares to Kryo
- It adds signification compilation time and make it hard to debug when implicits are not found

IMO significant code change and breaking API is less of a adoption blocker than the above issues.

The macro approach sho

[2017-09-07 19:32] kanterov commented on #827
I agree plain shapeless doesn't satisfy performance requirements. In frameless [shapeless is used to generate Java code](https://www.youtube.com/watch?v=SYAxLwd11Qo), not to derive typeclass instances by composing functions. It should be possible to use this approach with Dataflow cloud objects, however, just macro should be easier and faster.

There is a challenge in combining macro with implicit

[2017-09-07 19:34] nevillelyh commented on #820
It's not the most for vs while cases but the case of flatMap, join etc, where we have intermediate collections that are emitted to the underlying `ProcessContext#output()`. Skipping the intermediate ones might save memory and speed things up.

[2017-09-07 19:35] kanterov commented on #827
We can provide an implicit macro for case classes, however, it doesn't prevent users from using shapeless, if performance isn't the main concern.

[2017-09-08 14:16] nevillelyh commented on #820
Closing for now as it doesn't offer much improvement.

[2017-09-08 14:16] #820 closed

[2017-09-08 16:44] LukeDefeo opened #833 "Error in intellij worksheet"
Hey guys i am learning the library and played around a bit with the scio repl which is quite nice but I'd prefer to use it in the intellij worksheet as it has nice autocompletion and it can import code from other libraries.

My build.sbt has the following:

[code]

I have a job in a class that is copied from the examples:

[code]

i am able to run this job from sbt with the following:

``` run-mai

[2017-09-08 17:14] ravwojdyla opened #834 "Publish scio-repl based on 2.12.x"
Scala 2.12.x has an improved repl, which would make scio-repl more user friendly; we should consider publishing scio-repl for 2.12.x.

[2017-09-08 17:15] ravwojdyla commented on #833
@LukeDefeo I don't think we have tested scio in the worksheets; the error seems to be most likely related to classpath and autoservice of `FileSystems`.

We might give worksheet a try, but so far our approach was to use:
 * scio-repl to experiment; you can see how to easily start scio-repl from sbt project [here](https://github.com/spotify/scio-template.g8) - which would give you access to other l

[2017-09-08 17:53] #834 closed

[2017-09-08 19:02] #506 closed

[2017-09-08 19:16] nevillelyh commented on #783
Fixed in #812

[2017-09-08 19:16] #783 closed

[2017-09-08 21:24] nevillelyh commented on #815
Is there any reproducible data?

[2017-09-11 22:11] ravwojdyla commented on #815
@nevillelyh `com.spotify.scio.io.TFTapTest` sporadically fails:

[code]

[2017-09-12 07:24] labianchin opened #837 "Define custom PipelineOptions"
Is there a plan to support/define custom `PipelineOptions` (https://beam.apache.org/documentation/programming-guide/#options)
in a friendly/scala way?

The [`ContextAndArgs.parseArguments`](https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/ScioContext.scala#L68) call splits into `args` and `pipelineOpts`. That makes handling arguments from `args` a bit unsafe. A

[2017-09-12 13:47] kanterov commented on #827
One of the things to consider is using `scala-lms` for runtime code generation instead of the approach that is taken in Spark.

[2017-09-12 14:41] ravwojdyla commented on #837
Currently there is no issue/plan open for this; as you know you can still perfectly fine use the `PipelineOptions` mechanism from Beam in Scio. I'm leaning more towards just keeping it the way it is right now, just so that there is only "one" familiar and easy way to handle arguments, while at the same time users are free to use the `PipelineOptions` if they want/need to.

[2017-09-12 15:41] nevillelyh commented on #837
:+1: on keeping it as is. The user can still do `val (sc, _) = ContextAndArgs.parseArguments[CustomOptions]` and discard the unsafe arguments (or assert it's empty?).

[2017-09-12 15:45] ravwojdyla commented on #837
Closing for now.

[2017-09-12 15:45] #837 closed

[2017-09-13 09:37] labianchin commented on #837
Thanks!

A related question: would it make sense to have `args` as a member part of the `ScioContext`? That would avoid to pass `args` everywhere. I can share some internal examples.

[2017-09-13 14:30] ravwojdyla commented on #837
@labianchin I would prefer not to do that, mostly because `ScioContext` already knows a lot, adding more smells like a god class; having a god object would also lead to it being passed around without clear intent. Also if `args` were to be stored in `ScioContext` it might lead to serialization issues if used directly in a lambda (given that `ScioContext` is not serializable).

If you don't want to

[2017-09-13 18:41] ravwojdyla opened #840 "Add extract/load to BigQueryClient"
This could be useful as a pre/post step to a pipeline. Say I want to write data as avro/json to GCS with schema computed at runtime, but I also want my data in BQ: I could have a pipeline that writes avro/json to GCS, and when the pipeline is done just launch BQ load job(s) myself (knowing the URI, schema etc).

[2017-09-13 19:45] nevillelyh commented on #799
Upstream is merged.

[2017-09-13 19:45] #799 closed

[2017-09-14 08:01] labianchin commented on #837
I see that makes sense. Thanks for clarification! I will look at both implicit arguments and pipeline options.

[2017-09-14 16:15] andrewsmartin opened #843 "Support additional key-types in annoy API"
This would be nice so that users don't have to provide their own bijection `T <=> Int` which might not always be possible (imperfect string hashing, Int overflow etc). Annoy4s supports these additional types as keys:

- Long
- String
- UUID

Maybe we can introduce a sealed typeclass `AnnoyKey[T]` and provide instances for the supported key types, so that the implicit class to build annoy can accep

[2017-09-14 16:20] andrewsmartin commented on #843
Actually just realized this might be trickier since we're using `annoy-java` for reading, which only supports `Int`. Would there be any drawbacks to using annoy4s to read as well? @fallonchen

[2017-09-14 16:27] andrewsmartin commented on #843
Looking more closely at annoy4s its implementation for the extra keys is just a simple map from `T` to an `Int` index anyway to use the underlying lib so on second thought the `Int` overflow thing isn't solved by having this. But still I think it's convenient to have and wouldn't introduce much API complexity.

[2017-09-14 17:04] nevillelyh commented on #843
There's no easy way. Annoy uses int ID (`[0, n)`) for tracking vectors and users will have to manage String->Int mapping manually with Sparkey or something. And we need 2 indices for bidirectional mapping.

[2017-09-14 17:08] andrewsmartin commented on #843
Yeah I'm actually doing something similar internally now, using Sparkey to manage the mapping and copying those up to GCS along with the annoy index. I'll keep this open for now since I might have time this week to look into it, but if I don't get around to it by next week we can close it.

[2017-09-14 17:11] nevillelyh commented on #843
Sure. It could probably be some higher level API on top of `extra.annoy` and `extra.sparkey` that simplifies the process of managing 1 annoy index + 2 sparkey indicies right?

[2017-09-14 17:17] andrewsmartin commented on #843
Sure, makes sense to do it that way. `annoy-extra-extra`? jk - but yeah will try to have a PR up by EOD tomorrow.

[2017-09-14 17:19] nevillelyh commented on #843
LOL `super-extra-annoy-gravy-on-top`

[2017-09-14 17:31] fallonchen commented on #843
@andrewsmartin the downside to using annoy4s as a reader is that we then have to make freeing memory for the index the responsibility of the user; we know when to delete the index during writes, but don't know when the user will be done with it during reads

[2017-09-14 17:34] andrewsmartin commented on #843
@fallonchen gotcha. Keeping `annoy-java` on the read side should work if we go with this sparkey approach.

[2017-09-15 10:17] LukeDefeo commented on #833
Thanks for the reply, i can do without it but ill try and look into it in the future if i have time

[2017-09-18 17:20] azymnis opened #846 "Counter assertions in JobTest"
I'd like to be able to do something like:

[code]

Is this possible right now? Should I look into adding it?

[2017-09-18 18:15] nevillelyh opened #847 "List serialization issue"
Reported by some users:
`
java.lang.ClassCastException: cannot assign instance of scala.collection.immutable.List$SerializationProxy
`

[code]

Seems class path/loading related:
https://github.com/dlwh/epic/issues/17
https://github.com/SnappyDataInc/snappydata/issues/674

[2017-09-18 18:57] nevillelyh commented on #847
So this has nothing to do with Kryo/Chill. `.map(r => doSomething(r, data))` in the original report is passing `data: SimpleWrapper` via lambda closure and goes through Java serialization, which doesn't seem to handle these cases too well:

[code]

The last 2 `roundTrip`s fail in SBT `runMain`. However everything works perfectly fine in vanilla scala.
[code]

So this indeed has something to do wit

[2017-09-18 19:37] nevillelyh commented on #847
It's a `wontfix` in SBT issue tracker. We might want to make `fork in run := true` a default.
https://github.com/sbt/sbt/issues/2824
https://github.com/sbt/sbt/issues/513

[2017-09-18 19:39] nevillelyh commented on #847
Closing for now.

[2017-09-18 19:39] #847 closed

[2017-09-18 21:51] nevillelyh commented on #846
WIP branch: https://github.com/spotify/scio/tree/neville/metric

[2017-09-19 17:08] azymnis commented on #846
@nevillelyh have you setup a PR with this yet? I can add comments if you want

[2017-09-19 17:38] nevillelyh commented on #846
Will do later today

[2017-09-19 17:47] azymnis opened #849 "Support bigquery WRITE_APPEND"
Is there a reason why `WRITE_APPEND` is not currently supported as a type of write disposition for BQ writes? We use that exclusively for our data processing needs so it would be great if it could be added. I can take this if nobody is working on it.

[2017-09-19 17:52] ravwojdyla commented on #849
@azymnis `WRITE_APPEND` is supported. I assume you are talking about `Failure` in a `Tap`; that is because it doesn't make sense from `Tap`'s perspective, but the write will still happen.

[2017-09-19 18:26] azymnis commented on #849
@ravwojdyla oh sorry, I just noticed that this is just for test context. I'll close this now

[2017-09-19 18:26] #849 closed

[2017-09-19 18:39] nevillelyh opened #850 "Allow creating ScioResult independently"
We should investigate whether it's possible to create a `ScioResult` independently from project ID and Dataflow job ID. This is so that we can submit a non-blocking job asynchronously and later retrieve state and metrics without a long running process.

[2017-09-19 20:50] nevillelyh commented on #779
@ravwojdyla thoughts?
For 2 & 3, we'll have do stop including DF specific metrics, breaking but still doable.
4 should be easily doable as well.
How about 1?

[2017-09-20 00:13] #777 closed

[2017-09-20 17:50] nevillelyh commented on #846
@azymnis did you get a chance to look at PR #851?

[2017-09-20 17:56] nevillelyh opened #855 "KryoAtomicClass may not be serializable due to logger"
From user report:
`Caused by: java.io.NotSerializableException: com.github.fzakaria.slf4j.timbre.TimbreLoggerAdapter`

`..java.lang.IllegalArgumentException: unable to serialize KryoAtomicCoder`

`class KryoAtomicCoder` has a `private val logger` which may not be serializable depending on the implementation. We should remove it and use the one in the companion object instead.

[2017-09-20 18:29] nevillelyh commented on #855
Fixed in #856

[2017-09-20 18:29] #855 closed

[2017-09-20 18:37] azymnis commented on #846
Looking now @nevillelyh

[2017-09-20 18:48] #846 closed

[2017-09-22 20:20] nevillelyh commented on #778
Gonna close this since there isn't much we can do.

[2017-09-22 20:20] #778 closed

[2017-09-25 15:48] Igosuki commented on #778
@nevillelyh Sorry, I've been too busy on other things. I switched to a bounded pipeline so I didn't get the chance to fix it.

[2017-09-25 15:49] nevillelyh commented on #765
Just realized that this might not be very useful since we often want states in a custom `DoFn` which is not easily expressed in a builder or pure functional pattern. Might as well just write plain `DoFn` instead.

[2017-09-25 15:49] #765 closed

[2017-09-25 15:54] nevillelyh commented on #679
It's easy to support primitive arrays (bool, int, long, float, double) but do we wanna support strings too? Or treat them as `Array[Byte]`?

Probably easy to add some implicit methods so we can do:
`intArray.asTensor` with optional shap, and `tensor.asInts`?

[2017-09-25 16:38] #782 closed

[2017-09-25 19:17] LukeDefeo commented on #817
Im trying to understand what allowed timestamp skew is. Is it the maxium allowed duration between event time and processing time?

[2017-09-27 06:44] nevillelyh opened #860 "unidoc broken again"
`sbt unidoc` fails. Also `-Ymacro-no-expand` is deprecated, should replace with `-Ymacro-expand:none`.

[2017-09-28 21:10] andrewsmartin commented on #843
The internal `annoy-jni` lib uses the sparkey approach to support string keys - when that is public we could look into using that instead (String keys are the most pressing use case internally, other types can be added later if need be).

@yonromai FYI

[2017-09-28 21:14] yonromai commented on #843
The code is here: https://github.com/spotify/annoy-jni
For now it's still in private mode, it's currently being reviewed by FOSS. Should last too long.
If you wanna play with it, the jar is published in mvn central there: http://repo1.maven.org/maven2/com/spotify/annoy-jni

[2017-09-29 09:39] nevillelyh opened #861 "Expose underlying map in Args"

[2017-09-29 09:45] #861 closed

[2017-09-29 11:06] #860 closed

[2017-09-29 11:12] nevillelyh opened #862 "Move TensorFlow implicit classes to its own namespace"
We have these classes in `scio-tensorflow` in non-TF namespaces. They show up in [unidoc](http://spotify.github.io/scio/com/spotify/scio/index.html) and can be imported via common wildcards like `com.spotify.scio._` that doesn't specify TF intent.
- `com.spotify.scio.TFScioConextFunctions`
- `com.spotify.scio.values.TFSCollectionFunctions`
- `com.spotify.scio.io.TFFileStorageFunctions`

Since they

[2017-10-03 03:39] nevillelyh commented on #862
Fixed in #863

[2017-10-03 03:39] #862 closed

[2017-10-03 15:17] andrisnoko opened #865 "Side input not refreshing"
This is my code to refresh side inputs that fit in memory.  I implemented this in Java version of Apache Beam and it worked refreshing the side input values every 5 seconds.

[code]

Java version
[code]

[2017-10-03 21:14] nevillelyh commented on #865
This seems to work as expected running locally. What's not working for you?

[code]

[code]

[2017-10-03 21:27] nevillelyh commented on #865
You example works locally too after changing pubsub input to `GenerateSequence`. Is this not expected?
[code]

[code]

[2017-10-04 00:31] lmayumi commented on #865
@nevillelyh We tested with `DataflowRunner`. Have you tried running with it?

[2017-10-04 22:44] ravwojdyla opened #867 "closeAndCollect in scio-repl hangs on scala 2.12.3"
See title, to reproduce:

[code]

the same thing will work just fine in repl on 2.11.11.

[2017-10-04 23:33] #828 closed

[2017-10-05 00:35] ravwojdyla commented on #867
More info: it seems to be related to ser/de (obviously) of functions in REPL.
Stacktrace of one of the threads:

[code]

also if we split the line, and invoke `closeAndCollect` separately, it all good, so this works:

[code]

while (again), this does not:

[code]

might be related to https://github.com/scala/bug/issues/10064

[2017-10-05 14:49] ravwojdyla commented on #867
Add class based repl via #868 causes:

[code]

[2017-10-05 16:46] andrewsmartin commented on #867
The `ClosureCleaner` is completely broken for Scala 2.12, and it always fails this way (lambdas are no longer statically generated classes, so the class cannot be read in this way). For Scala 2.12 we've been relying on the compiler to handle issues of serializability, and `ClosureCleaner` is only invoked if the fn is not already serializable (since we need that to happen in Scala 2.11). Anyway the

[2017-10-06 19:51] nevillelyh opened #871 "Switch to sbt 1.0"

[2017-10-08 17:30] nevillelyh commented on #815
This is happening more frequently now. We should prioritize it? @ravwojdyla any clue what could've caused it? Maybe @regadas can help?

[2017-10-10 13:56] regadas commented on #871
we need to wait for this sbt/sbt#3583

[2017-10-10 14:59] #865 closed

[2017-10-10 15:04] nevillelyh commented on #867
Is there a short term fix? Or should we revert to 2.11.11 for REPL?

[2017-10-10 15:05] ravwojdyla commented on #867
@nevillelyh not that i'm aware of, i think we gonna need to revert.

[2017-10-10 15:34] nevillelyh commented on #815
Looks like in the failed cases, we got 2 tfrecords part files, one 100 bytes and one 0 bytes, while for the successful case both files are 50 bytes.

[2017-10-10 17:45] ravwojdyla opened #874 "BQ does dump full case classes for BQ plugin"
BQ does dump full case classes for BQ plugin thus plugin can't inject the BQ fields properly.

[2017-10-11 10:13] nevillelyh opened #879 "Avro TypeProviderTest fails to build in IntelliJ"
Avro `TypeProviderTest` fails to build in IntelliJ. Probably due to `FileSystems` not registered properly. Class loader problem?

<img width="1099" alt="screen shot 2017-10-11 at 12 10 23 pm" src="https://user-images.githubusercontent.com/468514/31434754-8bbb56e8-ae7d-11e7-83f1-307aaa20df92.png">

[2017-10-11 10:21] nevillelyh commented on #879
Actually the latest local file system impl may require absolute path.

[2017-10-11 11:17] #815 closed

[2017-10-11 17:38] nevillelyh commented on #874
Fixed in #877.

[2017-10-11 17:38] #874 closed

[2017-10-12 04:57] nevillelyh commented on #879
e98a8b451d3194e270b0678c7c9a6a5a4e5b422c could be caused by the same issue.

[2017-10-12 05:16] nevillelyh commented on #879
Testing with the following snippet in scio-examples/src/main/scala/com/spotify/scio/examples/WordCount.scala
[code]

When `fork in run := true`, I get:
[code]

With `fork in run := false`, I get:
[code]

[2017-10-12 05:44] nevillelyh opened #881 "Local FileSystem fails to resolve relative path"
e98a8b451d3194e270b0678c7c9a6a5a4e5b422c (#847) is caused by the this.
However relative path works without `fork in run := true,`, so forking is interfering with the path resolution.

Testing with the following snippet in scio-examples/src/main/scala/com/spotify/scio/examples/WordCount.scala
[code]

When `fork in run := true`, I get:
[code]

With `fork in run := false`, I get:
[code]

[2017-10-12 05:46] nevillelyh commented on #879
Fixed by doing the following in IntelliJ
- Preferences -> Languages & Frameworks -> Scala Compile Server -> Advanced Settings
- Check "Use project home as compile server working directory"

[2017-10-12 06:09] #881 closed

[2017-10-12 20:45] regadas commented on #458
@nevillelyh @ravwojdyla @fallonchen @andrewsmartin

is something like this of interest?

[code]

[2017-10-13 06:29] nevillelyh commented on #458
Ideally yes ;) but I'm a little conflicted, because not sure if we'll get 100% feature parity with the Beam API and ScalaTest style DSL is hard to write & maintain.

If there're only 2 forms of assertions like this:
- `PAssert.that(data).<verb>(expected)` (supported today)
- `PAssert.that(data).<timeCondition>(param).<verb>(expected)` (streaming)

Then maybe we can handle them like this:
- `data s

[2017-10-13 13:33] #73 closed

[2017-10-16 17:47] regadas commented on #458
@nevillelyh sorry for the late reply

Right now the only forms of assertions I see are the ones you mentioned. I have PR almost ready with a proposal for this.

[2017-10-16 19:47] Tomczik76 opened #884 ""No schema specified on job or table." Error when writing an empty table using .saveAsTypedBigQuery"
I repeatedly had a failed job with:
`"errors" : [ { "message" : "No schema specified on job or table.", "reason" : "invalid" } ]`

When writing using .saveAsTypedBigQuery on a @BigQueryType.toTable case class when writing an empty table.

`@BigQueryType.toTable case class Usage(an: String)`

Also, I didn't encounter a failure when using `.saveAsBigQuery` and giving a `TableSchema`

[2017-10-16 19:50] nevillelyh commented on #884
@fallonchen IIRC you looked at a similar one?

[2017-10-16 20:31] Tomczik76 commented on #884
I think I might have made a mistake. I just ran into the same issue with saveAsBigQuery.

[2017-10-16 21:10] raynux opened #885 "scio-repl crashes after upgrading to 0.4.3"
Hi, I upgraded from 0.4.2 to 0.4.3 using homebrew, then `scio-repl` is no longer working. Also `java -jar scio-repl-0.4.3.jar` and `java -jar scio-repl-0.4.2.jar` fail, too. The error output at the bottom.

To make sure, I have completely uninstalled-then-installed homebrew, then `brew tap spotify/public; brew install sbt scio scala`, but still getting the same error.

Here's my High Sierra env
[c

[2017-10-16 21:11] ravwojdyla commented on #885
@raynux hi. looks like an issue with java 9. we currently have not test java 9, in fact we have already heard a couple of problems around serialization etc. anyway for now the workaround would be to use java 8.

[2017-10-17 04:28] raynux commented on #885
@ravwojdyla The error disappeared after switching to JAVA8. Thanks a lot!

[2017-10-17 04:28] #885 closed

[2017-10-17 11:47] nevillelyh opened #886 "flatten should support Option"
Standard collection's flatten looks like this:
`def flatten[B](implicit asTraversable: A => /*<:<!!!*/ GenTraversableOnce[B])`

And ours look like this:
`def flatten[U: ClassTag](implicit ev: T <:< TraversableOnce[U]): SCollection[U]`

We should fix it so that it doesn't require `TraversableOnce`.

[2017-10-17 13:10] nevillelyh opened #887 "IndexOutOfBoundsException in JTraversableSerializer"
[code]

Should use `InputChunked` and `OutputChunked` maybe.

[2017-10-17 14:03] Tomczik76 commented on #884
I'm closing this issue because it seems to be a regression with Apache Beam.

[2017-10-17 14:05] nevillelyh commented on #884
@Tomczik76 did you find a BEAM Jira ticket?

[2017-10-17 14:17] Tomczik76 commented on #884
https://github.com/GoogleCloudPlatform/DataflowJavaSDK/issues/610

[2017-10-17 14:21] nevillelyh commented on #884
Let's keep this open until it's resolved upstream and in Scio :)

[2017-10-17 14:24] nevillelyh commented on #884
Upstream bug https://issues.apache.org/jira/browse/BEAM-3067

[2017-10-17 14:28] Tomczik76 commented on #884
Just to be clear BEAM-3067 states this happens with DirectRunner. I encountered this bug using the DataFlowRunner.

[2017-10-18 09:48] #886 closed

[2017-10-18 13:09] anilmuppalla commented on #726
@Tomczik76 are you working on this?

[2017-10-18 15:54] #887 closed

[2017-10-18 20:27] nevillelyh opened #890 "Investigate and create example for streaming job with periodically updating side input"
The side input could be from a GCS file, a BQ query, etc. but updating at some interval. We might need to use a `GenerateSequence` transform + windowing to periodically refresh the content.

We should add this as some syntactic sugar and/or example.

Reference: https://github.com/spotify/scio/issues/865#issuecomment-333980759

[2017-10-18 20:29] nevillelyh commented on #890
@regadas maybe something you'll be interested.

[2017-10-19 09:21] nevillelyh commented on #890
Played a bit with the idea in https://github.com/spotify/scio/tree/neville/streaming but haven't got very far.

[2017-10-19 09:29] regadas commented on #890
@nevillelyh yeah I can take it

[2017-10-19 13:02] nevillelyh opened #891 "Investigate custom JIterableWrapper for joins & cogroups"
`Iterable#map` is eager due to the implicit `CBF`:
`def map[B, That](f: A => B)(implicit bf: CanBuildFrom[Repr, B, That]): That`
So doing `xs.map` in a `cogroup` may OOM. Not sure there's anything we can do though without changing the type of groups from `Iterable[V]` to something else.

There might be something we can do though for join/outer join of 2-4 way cases, e.g. handcraft loops and avoid

[2017-10-19 15:12] #458 closed

[2017-10-20 09:21] nevillelyh commented on #891
Pushed some WIP & benchmark here:
https://github.com/spotify/scio/blob/neville/join/scio-jmh/src/test/scala/com/spotify/scio/jmh/JoinBenchmark.scala

[code]

[2017-10-20 19:31] ravwojdyla opened #894 "Support default values for Singleton SideInput"
Currently afaiu, users can't provide default values for SideInputs. They would have to:

[code]

but user can't really use it with `withSideInputs`, also wrap from `SCollection` is only for `PCollection` not `PCollectionView`.

[2017-10-23 13:58] kanterov opened #896 "Expose Kryo#setRegistrationRequired"
`Kryo#setRegistrationRequired` ensures that every used Kryo coder is pre-registered. It significantly reduces the amount of data shuffled by using class_id lookup instead of fully qualified class names. At the moment, it's possible to enable through custom `KryoRegistrar`:

[code]

It's especially useful in `DirectRunner` that ensures that data in serializable on each pipeline step without doing f

[2017-10-23 14:10] nevillelyh commented on #896
Where do you see is the best place for this convenience API?
Not sure if we can make this per `JobTest` though since it applies to every `Kryo` instance if we add `class CustomKryoRegistrar` in `src/test`.

[2017-10-23 14:18] kanterov commented on #896
Don't know, in Spark, it's done through `conf.set("spark.kryo.registrationRequired", "true")`, but in scio there is singleton Kryo object that doesn't allow to distinguish.

[2017-10-23 18:12] andrewsmartin commented on #896
What about exposing this via `ScioOptions`, so it can be set with `.args()` in `JobTest`? Instances of `Kryo` are created through calls to `RichCoderRegistry.getScalaCoder` so a flag could be threaded through if we pass the options in. It's a bit messy, but works?

[2017-10-24 08:56] #894 closed

[2017-10-24 09:37] nevillelyh commented on #890
#895 #897 are somewhat related.

[2017-10-24 09:52] nevillelyh opened #900 "Reduce scaladoc warnings"
We have a lot of warnings now when running sbt `makeSite`. Should at least eliminate some of them.

[2017-10-24 20:48] #850 closed

[2017-10-25 18:19] richwhitjr opened #902 "TF API should allow access to the input function arguments on output"
It would be nice if the Tensorflow Predict functions allowed access to the input arguments in the output function.  Sometimes it is helpful to append on a variable from the inputs to the output scores before writing somewhere.

The simplest case would be to pull the T given to the input function to the output function also.

[2017-10-29 14:05] kurtmaile opened #903 "QUESTION: Google Cloud Spanner Support"
Hi,

This look really cool, I am going to give it a try, great work!

Quick question: Is there support for Google Cloud Spanner as an IO source/sink (examples)?  If not are there any plans?

Cheers

[2017-10-29 17:02] nevillelyh commented on #903
Thanks!

We don't use Spanner internal so haven't got around to wrap it in Scala. But you should be able to use the Beam Java module directly, see this:
https://github.com/spotify/scio/wiki/FAQ#how-do-i-use-beams-java-api-in-scio

Let us know if that works. Feel free to ask more questions or even better if you could submit a PR :)

[2017-10-30 07:55] kurtmaile commented on #903
Great thanks look forward to taking a look and doing a PoC.

Are there plans to support BQ Streaming Insert (to complement the job load method)?

Cheers!

[2017-10-30 08:03] nevillelyh commented on #903
I believe you can already use `saveAsBigQuery` in a streaming job. Just make sure it's using the correct create & write disposition so that rows will be appended to the table.

[2017-10-30 09:02] kurtmaile commented on #903
thanks for the quick replies :)

So to clarify, is this the use of 'insertAll()' from BQ though under the covers?  This enables fast 'per event' loading into a buffer (with deduping) then into the target table?  Which is different to the job based method for saving batches of rows to a target table?

https://cloud.google.com/bigquery/streaming-data-into-bigquery

Cheers!

[2017-10-30 10:32] nevillelyh commented on #903
It uses Beam's [BigQueryIO](https://beam.apache.org/documentation/sdks/javadoc/2.1.0/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.html) under the hood which does streaming inserts for unbounded `PCollection`s.

https://github.com/apache/beam/blob/v2.1.0/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java#L992

[2017-10-30 10:47] nevillelyh commented on #871
Fixed in #904

[2017-10-30 10:47] #871 closed

[2017-10-30 16:31] nevillelyh commented on #779
Fixed in #882

[2017-10-30 16:31] #779 closed

[2017-10-30 20:01] keithmcneill opened #905 "scio-hdfs and scio-bigtable have inconsistent netty dependencies"
scio-hdfs and scio-bigtable have inconsistent netty dependencies.  scio-hdfs pulls in netty-all-4.0.23.Final.jar while scio-bigtable pulls in netty-buffer-4.1.8.Final.jar.  This caused `java.lang.NoClassDefFoundError: Could not initialize class io.grpc.netty.NettyClientHandler` which ultimately seems to be caused by inconsistent definitions of: io.netty.buffer.AbstractReferenceCountedByteBuf.

The

[2017-10-30 22:09] nevillelyh commented on #905
Thanks. Do you know if one of the 2 versions will work for both scenarios? I'd prefer not the shade artifacts to get this to work. Plus libraries like netty are probably not easy to shade due to JNI and other complex dependencies.

[2017-10-30 22:28] keithmcneill commented on #905
Gosh sorry I don't know.

One additional clue is that this didn't seem to be a problem with scio 0.3.x.  Only cropped up with the 0.4.x upgrade.

[2017-10-31 10:43] nevillelyh commented on #891
Fixed in #901

[2017-10-31 10:43] #891 closed

[2017-10-31 16:51] nevillelyh opened #909 "DataflowIT fails when scoverage is on"
We need to move it to a separate sbt step, maybe also `clean` before `it:test`.

[2017-11-01 20:13] #900 closed

[2017-11-02 09:54] nevillelyh opened #910 "Look into macro caching"
Looks like bigquery and Avro macros get invalidated and recompiled often. Should probably cache them.

[2017-11-02 15:19] nevillelyh opened #911 "Custom result Iterable in groupBy and cogroup with lazy map/flatMap/filter"
By ignoring the `implicit cbf: CanBuildFrom` and override `map|flatMap|filter` with lazy behavior. Need to be careful though in order not to break anything. Also need to check the `cbf` to make sure it's indeed building an `Iterable` and not something incompatible.

[2017-11-02 17:11] elonybear opened #912 "PUT mapping functionality"
I'm looking to create an index with a particular mapping for documents. This functionality is available in the Java Elasticsearch package. I was hoping this could be extended to Scio.

https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-admin-indices.html

[2017-11-07 16:48] ravwojdyla opened #915 "Investigate if we need to port apache/flink#323"
https://issues.apache.org/jira/browse/FLINK-1391
https://github.com/apache/flink/pull/323

otherwise kryo might get confused:

[code]

[2017-11-07 18:37] daikeshi opened #916 "hashJoin is using MultiMapSideInput"
`hashJoin` is using `MultiMapSideInput` which may cause poor throughput performance

https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/values/PairSCollectionFunctions.scala#L240

Evaluate using singleton side input, run some performance tests etc.

[2017-11-07 18:40] daikeshi commented on #916
https://github.com/spotify/scio/pull/917

[2017-11-08 16:27] marrrcin opened #918 "Compiling and running Scio on Windows"
Hi guys,
I was struggling with the compilation of Scio under Windows, there are some challenges there, but it seems like doable thing.
Are there any plans of supporting Windows for development purposes?

**Changes that I needed to made in order to compile (tag `v0.4.4`) and run Word Count example:**

1. In file `build.sbt` at line `139`:
[code]
Hard-coded colon should be replaced with conditional

[2017-11-08 16:53] nevillelyh commented on #918
None of us have Windows PC so we never thought about that case :)

For 2, don't have a strong opinion, as long as it can be automated. Some extra task in sbt or script maybe?

Anyway thanks for bringing this up and feel free to submit a PR.

[2017-11-08 16:53] nevillelyh commented on #912
@regadas ring any bell?

[2017-11-09 10:53] LukeDefeo opened #919 "Dynamic file destinations support"
Hello i see you guys added support for dynamic destinations for big query. In this commit in beam there is a similar thing for text io

https://github.com/apache/beam/commit/77ba7a35cdae0b036791cce0682beefeb3fd809b#diff-fbb44cd19552f243afca93d8155c35af

Any plans to support it in an up coming release?

[2017-11-09 12:10] marrrcin commented on #918
Is there a way to add dependent task i.e before compilation? I'm new to SBT and I couldn't find any clues how to do this.

[2017-11-09 12:17] nevillelyh commented on #918
Maybe something like this:
https://stackoverflow.com/questions/24174441/how-to-execute-shell-command-before-compile-task

Or it might be easier and more maintainable to add a pre-build script? Since we don't need to copy/link when running `sbt compile` every time, just when checking out the repo.

[2017-11-09 12:27] nevillelyh commented on #919
Don't have any immediate plan but feel free to submit a PR.

[2017-11-09 12:32] marrrcin commented on #918
The solution from the link above does not work (I've tried it), because `<<=` operator is deprecated in SBT.

By _pre-build script_ do you mean some shell/powershell script to be run manually?

[2017-11-09 12:46] nevillelyh commented on #918
There's a sbt 1.0 equivalent of that but can't remember off the top of my head.

Actually just found an easier way for `version.sbt`. I removed the symlink and added to compile time resources in `scio-core`. See #920

[2017-11-09 12:50] regadas commented on #912
@nevillelyh it does. IMHO if we were to support admin actions It would be inline with what we have under `scio-bigtable` with `TableAdmin`.

[2017-11-09 12:54] marrrcin commented on #918
That's a very nice solution!
I will create PR with my change then.

[2017-11-09 14:50] nevillelyh commented on #918
Closing this for now. Feel free to reopen if other issue pops up.

[2017-11-09 14:50] #918 closed

[2017-11-09 15:32] nevillelyh opened #922 "Abstraction Bigtable side lookup"
WIP branch https://github.com/spotify/scio/tree/neville/bigtable

A `DoFn` that abstract away:
- resource management, i.e. sharing a single Bigtable client
- concurrency, i.e. making async requests under the hood in a safe manner compatible with `DoFn`s threading model
- optional  caching

User implements specific querying logic by overriding:
`ListenableFuture<B> processElement(BigtableSession se

[2017-11-09 15:42] nevillelyh commented on #922
Error handing in `ListenableFuture` might cause problem potentially.

In Scala and Java 8 futures, we have some transform method that handles both success and failure.
[code]
[code]

There's no equivalent in Guava, so error handling is done as a callback, which means it might not propagate to the transformed future atomically?
[code]

[2017-11-13 16:12] sajacy opened #923 "saveAsCassandra processing lull"
I'm load testing a streaming topology that writes to Cassandra (and BigTable).

I will run these topologies for several days, and in a couple instances, I have seen errors in the Cassandra AbstractBulkRecordWriter that prevents the job from producing more outputs.  The job seems to be ~processing inputs~ suffering backpressure but otherwise without errors, and will not write to outputs, and system

[2017-11-13 18:28] sajacy commented on #923
Added windowing configuration for more context.

[2017-11-15 16:37] #912 closed

[2017-11-15 18:49] #909 closed

[2017-11-15 21:07] pdeglopper opened #928 "parquet read can NPE on chained attributes"
When attempting to project parquet records to just certain nested fields (eg `Projection[SomeType](_.getFoo.getBar)` I saw many NPEs apparently from serializing the records while trying to read them. Switching to just projecting the top-level field (`_.getFoo`) got past it.

[2017-11-15 21:10] nevillelyh commented on #928
https://github.com/spotify/scio/blob/master/scio-parquet/src/main/scala/com/spotify/scio/parquet/avro/package.scala#L102

`.map(_.getValue)` returns an incomplete Avro object which fails serialization. We need to trick the runner/coder somehow to ignore these, since they're almost always mapped out to leaf fields.

[2017-11-16 20:52] sajacy commented on #922
From convo: We want to be careful that the input is not always good as the cache key.  For example, if we are pulling metadata about a field on the input.  One way to avoid poor cache hit rate is to implement `A input` as a case class with overridden `equals` that identifies equal keys.  Or allow users to provide a key selector (serializable)function.

[2017-11-20 19:28] nevillelyh opened #932 "Convert more examples to use socco annotation"
Like in commit 7ce0c4366c21d64de2d5d7025177b69b93723614 which generates a nice [site](http://spotify.github.io/scio/examples/) of annotated examples with links to source and test code.

To test, run `SOCCO=true sbt scio-examples/clean scio-examples/compile` and then open `scio-examples/target/site/index.html`.

[2017-11-21 13:25] ravwojdyla commented on #793
Regarding Sparkey part, something to look into: https://github.com/stripe/sequins

[2017-11-21 13:34] ravwojdyla opened #933 "Add `saveAsSparkeyFile`"
Add `saveAsSparkeyFile` might be useful together with https://github.com/stripe/sequins. Should be relatively easy, also some of it might be reused in #793

[2017-11-21 15:12] nevillelyh commented on #933
It could be as simple as a `FileBasedIO` that writes records to a local sparkey file, like in this example:
https://github.com/stripe/sequins/blob/master/doc/manual/1-2-data-requirements/WordCountSparkey.java

The plus side is we don't have to `groupBy(_ => Unit)` so it should perform better.

[2017-11-21 17:23] andrewsmartin opened #934 "Dependencies not uploaded to GCS with DataflowRunner in 0.4.4"
After decoupling the DF-runner from `scio-core`, dependency jars fail to get uploaded to the staging location in GCS because of a bug in the `RunnerContext` mapping logic. It works when running via `sbt` because classpath entries are uploaded by default, but in other cases it does not work. Will push a fix shortly.

[2017-11-21 19:44] #934 closed

[2017-11-21 22:43] nevillelyh opened #936 "PubsubIO batch size should be configurable"
This might hit service payload size limit. We should fix it upstream and maybe expose the setting.

https://github.com/apache/beam/blob/release-2.1.0/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubIO.java

[2017-11-21 23:40] nevillelyh commented on #936
https://issues.apache.org/jira/browse/BEAM-3234

[2017-11-22 16:38] nevillelyh opened #937 "Verify BigQueryIO DATETIME format fix and rollback workaround"
This issue was finally fixed.
https://partnerissuetracker.corp.google.com/issues/35901847

So the workaround we did in #377 can probably be removed. Need to verify it first.

[2017-11-22 20:13] nevillelyh opened #938 "SCollection#take potentially inefficient"
It's implemented as following which could be inefficient if the iterable view is huge and materialized in its entirety.
https://github.com/apache/beam/blob/master/sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/Sample.java#L152

[code]

[2017-11-23 00:26] #928 closed

[2017-11-23 18:18] #938 closed

[2017-11-23 19:06] yonromai opened #941 "SparkeySideInput should use the Thread safe reader"

[2017-11-27 21:11] #941 closed

[2017-11-28 16:18] ravwojdyla opened #945 "Research/investigate fabuzaid21/yggdrasil"
https://github.com/fabuzaid21/yggdrasil has some improvements over spark implementation of decision trees, and some initial benchmarks show that it could scale better for deep trees. Also this could be interesting **only** if xgboost is not scaling well for deep trees.

[2017-11-28 21:42] #916 closed

[2017-11-29 03:33] nevillelyh opened #946 "Beam 2.3.0 checklist"
- [x] `Sample.any` performance fix [BEAM-3247](https://issues.apache.org/jira/browse/BEAM-3247) apache/beam#4175
- [x] #998 `ClosureTest` failure
- [x] #948 Consolidate `HadoopFileBasedSink` in Parquet IO with Beam
- [x] #997 IllegalMutationException in `LibSVMTest`
- [x] #996 IllegalMutationException in `FileDownloadDoFnTest`
- [x] Update Java examples (after they tag the release commit)

[2017-11-29 04:20] nevillelyh opened #948 "[beam-master] Consolidate HadoopFileBasedSink in Parquet IO with Beam"
Right now this is a fork of Beam FileBasedSink due to differences in output stream handling. Should consolidate with upstream to reduce duplication and maintenance cost.

https://github.com/spotify/scio/tree/master/scio-parquet/src/main/java/org/apache/beam/sdk/io

[2017-11-29 04:23] #797 closed

[2017-11-29 05:06] nevillelyh opened #950 "Document all sys.props flags"
They are scattered everywhere right now. Would be nice to consolidate them into a single file so we can link to its scaladoc.

[code]

[2017-11-29 05:11] nevillelyh commented on #378
Seems fixed in Beam 2.1.0 which we are already on. Closing for now.
https://issues.apache.org/jira/browse/BEAM-991
https://github.com/apache/beam/pull/3302

[2017-11-29 05:11] #378 closed

[2017-11-29 10:42] torbjornvatn commented on #796
Wouldn't this be a neat feature to get into SCIO now that it's on Beam 2.2.0?

[2017-11-29 11:41] nevillelyh commented on #796
Yes it's in our radar, just haven't got around to look at it yet. If you have any experience/input we'd love to hear :)

[2017-11-29 22:09] Tomczik76 opened #951 "Error while staging packages when including latest google-cloud-bigquery dependency"
I received an "Error while staging packages" exception when submitting a job when I have included `"com.google.cloud" % "google-cloud-bigquery" % "0.30.0-beta"`

[code]

[2017-11-29 22:27] nevillelyh commented on #951
Looks like a 404 error when executing GCS requests. The exact same code works without `google-cloud-bigquery` dependency? Wonder if there's any breaking GCS API change.

BTW you can use triple backticks ` ``` ` to format code.

[2017-11-30 02:16] nevillelyh commented on #911
Gonna close this. Too risky and not future (2.13) proof.

[2017-11-30 02:16] #911 closed

[2017-11-30 14:44] devictr opened #952 "hashLeftJoin fails when RHS is empty"
hashLeftJoin seems to fail when RHS is empty since Scio 0.4.5
Haven't checked if this affects hashJoin yet

[code]

[2017-11-30 14:47] nevillelyh commented on #952
@daikeshi ^
Should use `asSingletonSideInput(defaultValue: T)` and supply an empty map as default.

[2017-11-30 14:47] daikeshi commented on #952
Yep, I'm fixing it now

[2017-11-30 19:48] #952 closed

[2017-11-30 21:04] nevillelyh opened #954 "Programatic way to kill a job after certain time"
Could be useful for both batch & streaming. Right now it's possible with the raw DF client but not obvious to users. We could abstract it away in `ScioResult` and runner specific result classes.

[2017-12-01 01:58] nevillelyh commented on #954
Actually the Dataflow REST API doesn't expose cancel/stop. Other runners (spark, flink, etc.) probably do but until it does there's nothing we can do here.

[2017-12-01 02:00] nevillelyh commented on #954
I was wrong, it seems you can actually set a requested state in an `update` request.
https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs/update
Such API design and documentation.

[2017-12-01 02:02] anilmuppalla commented on #954
the web API's have the ability to set the state, we are using this feature for Galileo (Deployment service for streaming jobs) [under development]. I agree, the documentation and API is just weird.

[2017-12-01 02:31] nevillelyh commented on #954
I forgot that `PipelineResult` already has a `cancel()` method. All we need to do is try a timeout:
[code]

[2017-12-01 02:31] #954 closed

[2017-12-01 13:57] nevillelyh opened #957 "ClientAuthInterceptor in PubSubAdmin.scala is deprecated"
[code]

[2017-12-02 04:04] #896 closed

[2017-12-02 20:51] nevillelyh opened #959 "Side input cache should not key on ProcessContext change"
It seems that both `DirectRunner` and `DataflowRunner` creates a new context every element, thus defeating the side input cache.

Given the following test job.

[code]

`DirectRunner` output:
[code]

`DataflowRunner` output:
[code]

[2017-12-02 20:52] nevillelyh commented on #959
Related to #865

[2017-12-03 12:24] nevillelyh opened #961 "Look into dynamic file IO"
New in Beam 2.2.0, could be useful for streaming.

[2017-12-03 21:51] #957 closed

[2017-12-05 02:41] nevillelyh opened #964 "Use Avro inputs from BigQueryIO"
Starting 2.2.0, Beam BigQueryIO now supports reading rows as Avro `GenericRecord` directly. This should be faster and saves us the conversion to and from intermediate `TableRow` format.
https://github.com/apache/beam/blob/v2.2.0-RC4/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java#L364

[2017-12-05 09:45] justjoheinz commented on #744
`scalacOptions ++= Seq("-Ydelambdafy:inline")` confirmed as a fix for the bug on scala 2.12.4

[2017-12-06 05:16] #919 closed

[2017-12-07 14:45] mikaelstaldal opened #966 "Crash in IntelliJ IDEA Scio Plugin"
I got this error when opening a Scio project in IntelliJ IDEA.

Scio plugin 0.1.9.

IntelliJ config:
[code]
Stack trace:
[code]

[2017-12-07 15:03] meghaakki opened #967 "Add support for wildcard tables in MockBigQuery"
I have a query that's something like

[code]

When I run a MockBigQuery test to test this, it looks like the input test data and tables can't be staged because of the wildcard in the table name.

FYI @andrewsmartin

[2017-12-08 03:43] nevillelyh commented on #902
Can we close this now?

[2017-12-08 15:55] elonybear opened #969 "future returned from saveAsElasticsearch - examples outdated?"
Running a pipeline through GCP that builds an Elasticsearch index. I'd like to do write some output to GCS once the index has been completed. Typical `saveAs` functions return a future which can be waited on. However, waiting on the future returned by `saveAsElasticsearch` throws this error:

[code]

Then I noticed that in each of the `saveAs` functions, it returns `Future.Failed` by default. Howe

[2017-12-08 16:34] nevillelyh commented on #969
It's not implemented because ES is not an immutable storage and this is the intended behavior. Please wait on `ScioResult#finalResult` instead.

[2017-12-08 16:34] #969 closed

[2017-12-08 18:21] nevillelyh commented on #967
Should be a matter of detecting wildcards in the `original` string and replacing it with some random ID.
https://github.com/spotify/scio/blob/master/scio-bigquery/src/main/scala/com/spotify/scio/bigquery/MockBigQuery.scala#L54

[2017-12-08 18:50] nevillelyh commented on #967
It might be easier to replace `project.dataset1.table_*` with `project.dataset1.table_%s`, add an extra `"*"` argument to `fromQuery`, and replace with single partition when mocking.

[2017-12-08 23:05] nevillelyh commented on #923
Is this still affecting you? More info? Does it affect streaming only or batch also?

[2017-12-08 23:06] nevillelyh commented on #951
Gonna close as a `wontfix` since it's out of scope.
I bet there's some dependency conflict. Either prune it on your end or avoid such conflicting dependencies.

[2017-12-08 23:06] #951 closed

[2017-12-08 23:07] nevillelyh commented on #827
Closing this as it's way too ambitious. Save for a later time.

[2017-12-08 23:07] #827 closed

[2017-12-08 23:09] nevillelyh commented on #244
Probably a lot more work than deploying manually. Closing for now.

[2017-12-08 23:09] #244 closed

[2017-12-08 23:10] nevillelyh commented on #518
Closing since there's not enough need for this.

[2017-12-08 23:10] #518 closed

[2017-12-08 23:21] nevillelyh commented on #32
This hasn't been touched forever, closing for now.

[2017-12-08 23:21] #32 closed

[2017-12-08 23:27] nevillelyh commented on #833
Closing it since worksheet support is way out of scope for now. Feel free to reopen if you have a solution.

[2017-12-08 23:27] #833 closed

[2017-12-08 23:28] nevillelyh commented on #542
Are you still working on this or should we close?

[2017-12-08 23:30] nevillelyh commented on #679
Leaning towards closing this since it feels out of scope. Plus whatever API we come up with might make it more confusing for users?

[2017-12-08 23:31] nevillelyh commented on #793
Feels out of scope, can close?

[2017-12-08 23:39] nevillelyh commented on #966
Reported as https://github.com/spotify/scio-idea-plugin/issues/12
Closing this.

[2017-12-08 23:39] #966 closed

[2017-12-09 05:25] nevillelyh commented on #967
The following works for me:
[code]

[code]

[2017-12-09 05:25] #967 closed

[2017-12-11 19:58] nevillelyh opened #970 "Have a recommended way of handling DNS resolution in Dataflow workers"
This issue has popped up many times:

- User code runs in a JVM inside a docker container on DF worker instances
- The container has standard Google DNS entries in `/etc/resolv.conf`
- Thus the user cannot perform lookup from custom DNS servers, e.g. internal or VPN network

To workaround this we probably need:

- Some way to override `/etc/resolv.conf` by adding custom entries. But I read that th

[2017-12-12 05:18] #902 closed

[2017-12-12 05:19] ravwojdyla commented on #793
Would vote to keep open, it's an interesting problem especially since there were reports of some indexes builds taking very long time, also this isn't too hard to implement.

[2017-12-12 05:21] ravwojdyla commented on #679
Closing for now, pending on redesign of `predict` method.

[2017-12-12 05:21] #679 closed

[2017-12-12 05:23] ravwojdyla commented on #660
Closing for there is no resource to work on this. Reopen if needed.

[2017-12-12 05:23] #660 closed

[2017-12-12 05:23] ravwojdyla commented on #655
Closing, reopen if anyone wants to pick it up.

[2017-12-12 05:23] #655 closed

[2017-12-12 05:25] ravwojdyla commented on #197
Closing - high effort, low impact. Reopen if anyone wants to work on it.

[2017-12-12 05:25] #197 closed

[2017-12-12 16:57] nevillelyh opened #971 "BigQuery SQL dialect detection broken?"
It seems that `BigQueryType.fromQuery` can't detect SQL dialect (legacy/standard) in some cases. Should investigate a bit.

[2017-12-13 17:03] mikaelstaldal commented on #966
OK. I was not aware of that the plugin had a separate repository. The info page for the plugin links here, maybe it should link to the other repository?

[2017-12-13 20:07] ravwojdyla commented on #966
@mikaelstaldal fixed in just released 0.1.10. Thanks for reporting.

[2017-12-14 03:47] #959 closed

[2017-12-15 19:36] andrewsmartin commented on #485
How do we feel about this now? It seems stable and some of our other repos are on 2.0.

[2017-12-15 21:48] sajacy commented on #923
Still unresolved, and doesn't seem to affect batch, but  we've stopped development on this.  Feel free to close.

[2017-12-18 17:13] fallonchen opened #976 "Stalling jobs with large joins on 0.4.4+"
Some internal users have reported stalling jobs with large joins (1B+ RHS, 750M LHS) when using versions of scio later than 0.4.3.

[2017-12-18 23:14] elonybear opened #978 "SparkeyIO for running tests against Sparkey file output"
Hi, I was wondering whether there is support for testing Sparkey file output from Scio pipelines? Currently, I'm not seeing any classes or documentation supporting this feature. I'm seeing it as following a similar pattern to AvroIO, ElasticsearchIO, and so on.

Thanks!

[2017-12-19 00:30] nevillelyh commented on #978
`.asSparkey` returns an `SCollection[SparkeyUri]` so the easiest might be mapping that into a `SCollection[String]` where the string points a local path, and then assert file content?

You can have something like this in the job code:
[code]

And in the test code
[code]

Can you try if this works first?

[2017-12-19 04:10] elonybear commented on #978
So I actually have something similar happening. The only issue is that it creates the sparkeys and so running the same test twice throws a duplicate file exception. In the same way that ElasticsearchIO doesn’t actually create the index, it would be very useful for a SparkeyIO class to do something similar.

[2017-12-19 04:18] nevillelyh commented on #978
True but it's not really an IO, more like a syntactic sugar that writes files as side effect.

There're 2 workarounds:
- use `asSparkey` without argument so it'll write to a temp location every time
- delete the files after assertion

WDYT?

[2017-12-19 16:45] elonybear commented on #978
Hm, those options would definitely work. I think I may go with the first option and have conditional logic for it. Thanks for the help!

[2017-12-19 17:03] mikaelstaldal opened #980 "Feeding a JobTest from src/test/resources"
It would be nice to be able to have a `com.spotify.scio.testing.JobTest` to read input from a file in `src/test/resources`?

This can currently be done like this:
[code]

But a shortcut would be nice.

[2017-12-19 19:16] nevillelyh commented on #980
Feels a little out of scope plus this will only cover simple file formats. Not sure if it belongs in scio.

[2017-12-19 21:07] nevillelyh commented on #796
Looked a little closer today.
Example: https://github.com/apache/beam/blob/master/sdks/java/io/file-based-io-tests/src/test/java/org/apache/beam/sdk/io/text/TextIOIT.java#L84
Avro: https://github.com/apache/beam/blob/master/sdks/java/core/src/main/java/org/apache/beam/sdk/io/AvroIO.java#L312

Seems pretty straightforward to use this as is in something like
[code]

We have some users trying it out

[2017-12-19 22:01] nevillelyh commented on #796
Verified that the following code works:
[code]

[2017-12-19 22:11] nevillelyh opened #981 "Examples throw ClassNotFoundException without fork in run"
https://github.com/sbt/sbt/issues/3736

Adding `fork in run := true` fixes it but introduces other annoyance, e.g. stdout treated as error and relative path `README.md` in word count quick start not working.

[code]

[2017-12-19 22:24] syodage commented on #937
@nevillelyh  New Big query datetime and timestamp support both 'T' and ' ' (space) as time separator. So we can either fall back to older one(with space) or stick with the workaround (with 'T') which is official. Anyway I made a PR to remove Fixme and update the comment with new formats for datetime and timestamps. https://github.com/spotify/scio/pull/982

[2017-12-20 04:27] nevillelyh commented on #948
We might be able to use FileIO.Write for this.
https://github.com/apache/beam/pull/3817

[2017-12-20 05:03] ravwojdyla commented on #981
Should be fixed by https://github.com/sbt/zinc/pull/473

[2017-12-20 09:16] mikaelstaldal commented on #980
Ideally, I would like this to work at a lower level, so that it can handle any file format. So you can do something like this:

[code]

and that would read `data1.tsv` and `data2.avro` from `src/test/resources`.

[2017-12-20 09:52] calonso commented on #778
Hi everyone! We're affected by the very same issue as described here and could successfully work around it by using the suggested `aggregateByKey`. Thanks @nevillelyh!

On the other hand I was thinking that a reasonable "fix" for this issue could be to modify the `reduceByKey` method to receive a `zeroValue`. What do you think?

[2017-12-20 11:40] labianchin commented on #970
This issue seems more related to Apache Beam or Google Dataflow service. Should we bring this [Apache Beam support](https://beam.apache.org/get-started/support/) or Google Dataflow support? What would be the right place?

[2017-12-20 16:57] nevillelyh commented on #980
Well then one could also ask for symmetric output support, which can easily adds to feature creep. This could also be easily abused, like feeding sampled data without actually covering useful corner cases.
`testData` is a one-liner that anyone can write quickly, if one understand the consequences. I'd prefer to keep it that way.

So again leaning towards to closing this as a "won't fix" but this i

[2017-12-20 17:04] nevillelyh commented on #980
Discussed with the team. Closing for now.

[2017-12-20 17:04] #980 closed

[2017-12-20 17:11] #937 closed

[2017-12-20 22:42] #393 closed

[2017-12-20 23:39] ravwojdyla commented on #393
Solved via https://github.com/spotify/scio/tree/master/scio-tensorflow

[2017-12-21 20:34] #922 closed

[2017-12-21 21:10] nevillelyh commented on #970
This is more of a Google/Dataflow thing. It might be solvable with custom DF containers. Before that happens we either wait or try some workarounds.

[2017-12-22 17:55] andrewsmartin commented on #976
Based on an investigation by the Google support team, it seems like the stalling issue was due to a one-off problem related to shuffling, but there seems to be a definite performance regression in 0.4.4+, perhaps because of the addition of specialized joins. Will investigate further.

[2017-12-23 05:26] #976 closed

[2017-12-27 09:53] nevillelyh commented on #485
WIP branch in https://github.com/spotify/scio/tree/neville/ci-2.0

`sbt-assembly` and deployment doesn't work due to file name length limit in the container's file system.
[code]

Also I didn't break the build into super granular steps since it seems faster to do as much as possible in a single `sbt` run.

[2017-12-27 20:25] #485 closed

[2017-12-27 20:26] nevillelyh commented on #485
Worked around the assembly issue by using a `machine` type worker for deployment in the workflow.

[2017-12-27 20:28] nevillelyh commented on #970
I just realized that `/etc/resolv.conf` is mounted from host in some Docker containers. Is this true for all containers? Is it possible to override?

[2017-12-27 20:29] #981 closed

[2017-12-29 02:19] nevillelyh opened #986 "Circle CI checklist"
- [x] set up nightly builds for publishing SNAPSHOTs
- [x] verify that deploy to GitHub works

[2017-12-29 18:15] nevillelyh commented on #986
We can save extra build time by moving the following from per-commit to nightly build:
- `it:test` ~2-3 min?
- REPL IT ~2-3 min

@ravwojdyla thoughts?

[2017-12-29 18:51] nevillelyh commented on #986
On 2nd thought best to keep `it:test` per-commit to get better coverage. Closing this for now.

[2017-12-29 18:51] #986 closed

[2017-12-29 20:36] nevillelyh opened #989 "toList in Avro and BigQuery macros potentially expensive"
https://github.com/spotify/scio/blob/master/scio-bigquery/src/main/scala/com/spotify/scio/bigquery/types/ConverterProvider.scala#L95

[2017-12-30 00:19] nevillelyh commented on #964
WIP branch: https://github.com/spotify/scio/tree/neville/bq-avro
Using `bigquery-public-data:github_repos.commits` (725GB 203,318,560 rows) as test input, here are the results with 4 n1-standard-4 workers:

- Avro: 24m55s
- TableRow: 50m12s

So about ~2x speed up.

[2017-12-30 02:14] nevillelyh commented on #989
Replacing `.map(...).toList` with `.map(...)(breakOut)` should eliminate one copy but `.map(...)` still performs a copy.

[2017-12-31 17:03] nevillelyh opened #991 "Bump Tensorflow to 1.4.0"
`org.tensorflow.Tensor` changed from `1.3.0` -> `1.4.0` and now requires a type parameter.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/Tensor.java#L45

[2018-01-02 19:53] #989 closed

[2018-01-02 19:55] nevillelyh commented on #989
Don't think we can eliminate that `.map` because the lazy wrapper from `.asScala` may point to some shallow mutable Avro list. It's better to always copy into a scala `List` in those cases.

[2018-01-03 16:21] nevillelyh opened #993 "Default arguments in dynamic.io causing problems"
Methods not resolved correctly.

[2018-01-03 16:28] nevillelyh commented on #993
Also `windowedWrites: Boolean` should translate to `.withWindowedWrites()`

[2018-01-03 16:40] andrewsmartin commented on #884
Verified that this has been resolved in Scio 0.4.6 / Beam 2.2.0.

[2018-01-03 16:40] #884 closed

[2018-01-04 16:29] andrewsmartin commented on #978
Let's close this one for now. In the future there may be a proper Sparkey IO, and the test stuff would be included as part of that (https://github.com/spotify/scio/issues/933)

[2018-01-04 16:29] #978 closed

[2018-01-04 18:34] #993 closed

[2018-01-04 20:52] #964 closed

[2018-01-04 23:14] nevillelyh commented on #512
Instead of building from a branch (i.e. `beam-master`) which tends to go stale, we should build this on top of master, by replacing `beamVersion` only.

[2018-01-04 23:21] nevillelyh commented on #512
What if there's a breaking change in `SNAPSHOT`? We can't fix it in `scio:master` and have to branch out, which kinda defeats the purpose of having a nightly integration build.

[2018-01-05 00:46] nevillelyh commented on #512
Fixed in d7ceae5d926e60de31485dac9f6600f02128b62d

It will do the following nightly:
- checkout `beam-master` branch
- `git rebase master`
- fetch latest Beam snapshot version
- update `beamVersion` in `build.sbt`
- add Apache snapshots resolver
- build

This way we can make sure that `beam-master` is kept up to date with `master` and fix breaking changes in that branch.

[2018-01-05 00:46] #512 closed

[2018-01-05 16:55] nevillelyh commented on #948
`scio-parquet` is already broken in `beam-master` so it's a good opportunity to fix.

[code]

[2018-01-05 16:56] nevillelyh opened #996 "[beam-master] IllegalMutationException in FileDownloadDoFnTest"
`[info] - should work *** FAILED ***
[info]   org.apache.beam.sdk.util.IllegalMutationException: PTransform apply@{OutcomeOf.scala:85}12/ParMultiDo(FileDownload) mutated value ArrayBuffer((70,/tmp/fd-file-20e69983/part-00070-of-00100.txt)) after it was output (new value was ArrayBuffer((70,/tmp/fd-file-20e69983/part-00070-of-00100.txt))). Values must not be mutated in any way after being output.
[

[2018-01-05 16:57] nevillelyh opened #997 "[beam-master] IllegalMutationException in LibSVMTest"
`[info] libSVMCollection
[info] - should parse libsvm files *** FAILED ***
[info]   org.apache.beam.sdk.util.IllegalMutationException: PTransform PAssert$5/RunChecks/ParMultiDo(GroupedValuesChecker) illegaly mutated value [(0.0,SparseVector(34)((0,1.0), (8,1.0), (18,1.0), (20,1.0), (23,1.0), (33,1.0))), (0.0,SparseVector(34)((0,1.0), (8,1.0), (19,1.0), (20,1.0), (23,1.0), (33,1.0))), (1.0,SparseVe

[2018-01-05 16:59] nevillelyh opened #998 "[beam-master] ClosureTest failure"
`
[info] - should print readable error message for unserializable fn *** FAILED ***
[info]   "unable to serialize DoFnAndMainOutput{doFn=anonymous function map@{ClosureTest.scala:99}, mainOutputTag=Tag<org.apache.beam.sdk.transforms.ParDo$SingleOutput.expand:641#7ef07915115231e6>}" did not start with substring "unable to serialize anonymous function map@{ClosureTest.scala:" (ClosureTest.scala:102)

[2018-01-05 17:01] nevillelyh commented on #997
Probably related to #996

[2018-01-05 17:48] #998 closed

[2018-01-06 14:56] andrewsmartin commented on #915
An array field was added to the test avro records in 2d82ec0, so this is now exercised in tests. Gonna close this as a no-op.

[2018-01-06 14:56] #915 closed

[2018-01-09 20:59] nevillelyh commented on #948
Turns out `FileIO.Write` still uses `WriteableByteChannel`. We'll have to monkey patch `FileBasedSink` for now.

[2018-01-09 21:00] #948 closed

[2018-01-10 05:38] syodage commented on #575
I think this has great value when it comes to clean and maintain code. I am thinking of sending a PR by refactoring TextIO as a first step(if all went well, I will work on other IOs too), Thinking out loud, this will lead us to have lightweight `scio-core` and IO implementation will stay in their own module. My approach would be similar to what we did to jdbc integration here https://github.com/sp

[2018-01-10 14:45] nevillelyh commented on #575
Pretty much what I had in mind :)

To recap:

- start a new namespace, maybe `com.spotify.scio.nio`
- `trait ScioIO[T]` as the base, with abstract methods to read (via `ScioContext`), write (via `SCollection`), and read `Tap`
- `case class TextIO(path: String, ...) extends ScioIO[String]` etc
- add `ScioContext#read[T](io: ScioIO[T])` and `SCollection#write[T](io: ScioIO[T])`
- ??? add `JobTest#in

[2018-01-10 15:19] syodage commented on #575
Awesome!, thanks for the recap, I will create a new branch and start working on it.

Getting my hand dirty with type-safety and another advance scala features will be a good experience for me.

[2018-01-11 16:04] ravwojdyla opened #1003 "Upgrade tensorflow to 1.4.0"
Upgrade to TF 1.4.0 requires a little bit of extra typing (for `Tensor`), which is straightforward. But unfortunately there seems to be a bug in the new TF lib, which fails tests on the consecutive test runs (possibly due to some global state?). To reproduce:

[code]

and the sbt process exits with `134`.

TF 1.5.0-rc0 seems to have the same issue.

[2018-01-11 16:12] ravwojdyla commented on #1003
WIP in branch `rav/upgrade_tf_140`

[2018-01-12 02:41] syodage commented on #575
@nevillelyh I created an initial PR to get some feedback earlier as I followed bit different approach than you suggest.

I am thinking how 4th steps works, could you explain a bit how `ScioContext#read[T](io: ScioIO[T])` and `SCollection#write[T](io: ScioIO[T])` this works when writing a pipeline?

[2018-01-12 03:58] nevillelyh commented on #575
I would add 2 abstract methods to `ScioIO` trait, `read(sc: ScioContext): SCollection[T]` and `write(data: SCollection[T]`. So `ScioContext#read` can call `ScioIO#read(this)` and `SCollection#write` can call `ScioIO#write(this)`.

[2018-01-12 17:55] LukeDefeo opened #1005 "Problems with dynamic file destinations"
Hey guys i am using the dynamic file destination api there are two options

[code]

and

[code]

The issue is that both of these apis require the source collection to be of type String rather than T.

I am using this api internally which i believe to be able to support more use cases

object Extensions {

  implicit class SCollectionExtensions[T](collection: SCollection[T]) extends Serializable {

[2018-01-12 18:02] LukeDefeo opened #1006 "Problems with dynamic big query destinations"
hello me again, i have a similar issue to https://github.com/spotify/scio/issues/1005 but with big query, ok but is missing support for InsertRetryPolicy which is on Bigquery Io. This, i can raise a pr if you would accept.

The other issue is that i would like to get access to the Write result https://github.com/apache/beam/blob/53c9bf4cd325035fabde192c63652ef6d591b93c/sdks/java/io/google-cloud-pl

[2018-01-12 18:37] nevillelyh commented on #1005
We want to have a good trade of between covering majority of the use cases without making the API overly complex, in which case it might be better to just drop down to the native Java SDK like what you're doing here.

With that in mind, what about adding `compression` to `FileDestinations` that defaults to none, and an `trait OutputFormatter[T, O]`. We can then add an `(implicit of: OutputFormatte

[2018-01-12 18:43] nevillelyh commented on #1005
The other question is, what's the downside of just using `saveAsCustomOutput`? Because that's supposed to solve these cases not covered by the convenience methods e.g. `saveAsTextFile`. If possible, I'd like to fix `saveAsCustomOutput` instead of playing catchup with upstream IOs and our wrappers.

[2018-01-12 18:45] nevillelyh commented on #1006
Similar to my answer in #1005. Need to find a balance between covering majority of the use cases vs making the API overly complex.

We don't expose `POutput` in `saveAsCustomOutput`. Not sure if we will/should since it'll change the API semantics. Can you do `data.internal.apply(BigQueryIO.write()...)` instead?

[2018-01-12 22:50] nevillelyh opened #1008 "Add mechanism to detect scio and beam version mismatch"
Scio version is available here:
https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/package.scala#L58

We need to check the beam package versions from the class path.

[2018-01-13 04:07] nevillelyh opened #1011 "Investigate external sort"
https://beam.apache.org/documentation/sdks/java-extensions/#sorter

[2018-01-15 10:01] LukeDefeo commented on #1006
Thanks i didn't know about the internal PCollection being available, i can implement my use case of writing the failed inserts somewhere with this.

As for the retry policy there is a clear default which is the beam default of InsertRetryPolicy.alwaysRetry(), shouldn't be too much of an impact to the api?

[2018-01-15 10:12] LukeDefeo commented on #1006
As for the point about not exposing the POutput internals. Perhaps it could be a field on the tap that we could access.

Alternatively it could be done similar to beam where you would have the failedInserts on the bigquery tap?

[2018-01-15 10:18] LukeDefeo commented on #1005
Theres a few discussion points so lets take them in turn

1. I would argue that if scio is going to provide methods like dynamic save as text files it should be general purpose enough to suit most use cases. Right now since the upstream needs to be a string i would have serialize to a string upstream, and then in my recordToDestination function deserialize to figure out where it should go. This is

[2018-01-16 20:54] nevillelyh commented on #1005
1.
It has something to do with different design approach between Java and Scala APIs.
In Java they use builder and can add arbitrary new flags via setters. The downside is obviously it's harder to maintain and use. In Scala, and in our case in particular, we want to have convenience methods like `saveAsTextFile` with 1 or 2 required arguments, and maybe a few more with default values. We don't wan

[2018-01-16 21:03] nevillelyh commented on #1006
Adding result to `Tap` would require an additional type param in `Tap[T]` and make inference harder in some cases. We're also in the middle of an IO/Tap redesign so need to think about this.

OTOH you only want to access `POutput` if retry policy is not the default `alwaysRetry()` right? So we need to support both or neither.

[2018-01-16 21:48] #1008 closed

[2018-01-16 23:30] LukeDefeo commented on #1006
Not sure why it would be an extra type param, let the user access it via pattern matching if its a field on the case class

On the second point yes, they don't make a lot of sense without each other

[2018-01-16 23:36] LukeDefeo commented on #1005
Thanks for the clarification. Obviously we can carry on using saveAsTextOutput, I was just raising this as feedback that arose from out use case.

To clarify our use case is a heterogeneous pubsub topic of multiple event types that need to be dumped to gcs and big query.

[2018-01-16 23:36] LukeDefeo commented on #1005
Ill close this issue for now

[2018-01-16 23:36] #1005 closed

[2018-01-17 01:02] nevillelyh opened #1013 "Make Java IO etc. more usable"
We should add some implicit converters, probably `com.spotify.scio.JavaConverters._`, to make Java APIs more usable. It should include implicit conversions from common Java types like `SerializableFunction`, `DynamicDestination`. etc.

[2018-01-17 01:03] nevillelyh commented on #1005
Added #1013 to track this. IMO it's more long term sustainable to make the Java IO more usable and reduce the boilerplate we have wrapping their options.

[2018-01-19 05:20] #996 closed

[2018-01-19 17:20] nevillelyh opened #1020 "Handle KvCoder in SCollection#applyTransform"
Right know coder inference doesn't work if the transform being applied outputs a `KV<K, V>`. We should handle this case.

[2018-01-19 17:28] LukeDefeo opened #1021 "KryoException when changing case class and pipeline update"
Hi

I have a trait and underlying case class that are emitted in a map stage of my pipeline. I have made changes to add a method to the trait and a constructor param to the class

After updating my pipeline i get:

[code]

Cash isn't a class it looks like Kryo is a bit confused, I'm not too familiar with the internals of it. Anyway I can understand why this is broken, I require a new param to cons

[2018-01-19 17:32] nevillelyh commented on #1021
IIRC Kryo relies on having an argument-less default constructor to create a blank instance, and fills in the fields.

Can you try something like this:
[code]

Also this should've been caught in a test?

[2018-01-19 18:08] LukeDefeo commented on #1021
Not sure how i can write a unit test to reproduce this behavior, It didn't get caught in test pipelines as there way no data in flight in the pipeline so nothing to be decoded. Its not the end of the world as the pipeline isnt live

Ill try adding the ctor but not sure how that would help as none of my case classes have them. Even then the data was never serialized as Im adding a field so i will l

[2018-01-19 18:23] nevillelyh commented on #1021
By default in unit test the `DirectRunner` will try to serialize elements in every stage to make sure they're ser/de- able.

Actually on 2nd thought it may have nothing to do with constructor signature, but the fact that the class changed and confused Kryo (it encodes the class type before content), hence the `Unable to find class: ��Cash` error. By changing the case class/trait, you might have ch

[2018-01-19 19:33] nevillelyh opened #1022 "Remove `toGenericRecord` requirement when testing typed AvroIO"

[2018-01-19 19:53] marcusb opened #1024 "Issue with nested Avro records with same name"
After converting an Avro case class with toGenericRecord, the schema
of the resulting record becomes invalid if the original schema had
record fields with identical names (but different namespaces). It looks like
the namespace information is dropped in the conversion.

Failing test case here: https://github.com/spotify/scio/pull/1023

[2018-01-20 18:09] LukeDefeo commented on #1021
It passes a your proposed test, my two separate pipelines were ser/de-able separately but not between their versions due to the incompatibility.

I think the way forward is for us to drain and redeploy jobs as opposed to data flows update mechanism.

[2018-01-20 18:09] #1021 closed

[2018-01-20 18:16] nevillelyh commented on #1021
You're right, to properly reproduce this, we need to deserialize bytes of old version into new version of the class, which is not possible in the same JVM/test. Maybe we should document that clearly.

[2018-01-22 18:20] nevillelyh opened #1025 "SchemaProvider#schemaOf should cache"
This may affect both Avro and BigQuery macros.
Right now `schemaOf` is in the generated converter's code which means they're called for every record being converted.

[2018-01-22 18:35] nevillelyh commented on #1024
So it seems this is re-building the schema from the generated case class, instead of reusing the one from top level. It's fixable but would require a lot of re-wiring by recursively passing the schema at every level.

https://github.com/spotify/scio/blob/master/scio-avro/src/main/scala/com/spotify/scio/avro/types/ConverterProvider.scala#L198

WIP branch: neville/dbg-1024

[2018-01-22 18:45] nevillelyh commented on #1025
Turns out this affects Avro macros only. BigQuery schema is generated only once when creating `BigQueryIO`, and not affected to each `TableRow` object.

Related to #1024

[2018-01-23 13:52] nevillelyh opened #1026 "Syntactic sugar to create and initialize counters"
maybe `sc.initCounter(name: String, ...): Counter`
The context should memorize these counters and create one artificial parallelize + map step to initialize then.

[2018-01-24 17:20] #1026 closed

[2018-01-24 20:37] ClaireMcGinty opened #1029 "org.apache.beam.sdk.metrics.Distribution type metrics throw NPE when saving or publishing"
NPE is thrown after job completes with stack trace:

[code]

I did some investigating and it seems the offending line is in [getBeamMetrics](https://github.com/spotify/scio/blob/2b643c955fcfad4df7b698583eef1107f1264093/scio-core/src/main/scala/com/spotify/scio/ScioResult.scala#L116) in ScioResult. the "attempted" attribute of Distribution metrics is null, although the "committed" attribute is set

[2018-01-24 20:59] ClaireMcGinty commented on #1029
oh I think [this Apache Beam doc](https://github.com/apache/beam/blob/master/runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowMetrics.java#L158) explains it? in batch jobs only committed results are available?

[2018-01-24 21:26] nevillelyh commented on #1029
Yeah that's probably why. So expected?

[2018-01-24 21:34] ClaireMcGinty commented on #1029
Expected, but still an issue for anyone wanting to publish distribution metrics from a batch job (which I assume are a lot more common that streaming jobs). The patch I posted above ^ is probably the least disruptive way to solve it since no re-architecture is required. It doesn't even need a logged warning since it's not actually an error. what do you think?

[2018-01-24 21:46] nevillelyh commented on #1029
Yeah we should do that then.
So this only affects distribution, but fine with counter and gauge?

[2018-01-24 22:02] ClaireMcGinty commented on #1029
hmm... looking at the code I think it might affect Gauge as well. I can test that one too and get back to you/include it in pull request

[2018-01-24 23:52] ClaireMcGinty commented on #1029
ok I was testing out gauges and it doesn't get reported from Dataflow metrics (if you look in Scio's internal metrics map Gauges is just an empty list). The dataflow release notes say this is a [known issue](https://cloud.google.com/dataflow/release-notes/release-notes-java-2) though.

[2018-01-24 23:59] ClaireMcGinty commented on #1029
https://github.com/spotify/scio/pull/1030

[2018-01-25 05:56] #1029 closed

[2018-01-25 20:46] nevillelyh commented on #1020
https://lists.apache.org/thread.html/f14e196ee59b75b8ee415dba71cb92f3756fe1941d586cedc466decf@%3Cuser.beam.apache.org%3E

[2018-01-25 21:48] nevillelyh opened #1031 "Workaround for BEAM-3311 BigTableIO and Iterable of KV"
Now that BEAM-3311 is closed as a won't fix, we might need a local workaround.

Extend BigTableIO to write Iterable of KV
https://issues.apache.org/jira/browse/BEAM-3311

[2018-01-26 03:08] #1020 closed

[2018-01-29 11:07] labianchin opened #1034 "ArtisanJoins and not have stable unique names"
When using `PairSCollectionFuctions` `rightOuterJoin()`

The following error happens:

[code]

Example code:

[code]

The problem seems to be around:

[code]

where the same transform name is reused in another transform.

[2018-01-29 11:33] robertotena commented on #637
Hi, I got this same issue and I wanted to ask if there is an easy way to create a custom IO for Bigtable to accept runtime parameters. I cannot tell very well the difference between creating a custom IO and adding the functionality in Beam.
Thanks

[2018-01-29 12:26] nevillelyh commented on #637
The latest BigtableIO supports `ValueProvider` for some options now.
https://github.com/apache/beam/blob/master/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java

You should be able to use them as is with the custom IO wiring as documented here:
https://github.com/spotify/scio/wiki/FAQ#how-do-i-use-beams-java-api-in-scio

[2018-01-29 16:40] #1034 closed

[2018-01-29 17:04] martinbomio opened #1037 "Counter not decrementing in unit test"
Decrementing a counter doesn't seem to update the counter while unit testing (haven't checked in dataflow).
Example:
[code]
in this case filtered should be 6, but is 10

[2018-01-29 18:01] andrewsmartin commented on #1037
This is on master btw, `sc.initCounter` isn't available in a release yet

[2018-01-29 18:02] martinbomio commented on #1037
yes, it is. The only difference is that I use ` ScioMetrics#counter` for creating the counter, instead of
`sc#initCounter` (I am using 0.4.7 and doesn't seem to be available)

[2018-01-29 18:06] martinbomio commented on #1037
hmm, seems like I was accessing the wrong counter 🙄 . All seems to be working now. Will close this one. Sorry!

[2018-01-29 18:06] #1037 closed

[2018-01-29 21:21] #1022 closed

[2018-02-05 20:22] sajacy opened #1041 "Remove "Start bundle..." and "Finish bundle..." logging"
In AsyncDoFn each bundle's start and finish are logged, which makes logs very verbose (and expensive).

Proposal:
[Start bundle...](https://github.com/spotify/scio/blob/5d34eaae1b3347e751278ebf902910f6434ea6e7/scio-core/src/main/java/com/spotify/scio/transforms/AsyncLookupDoFn.java#L99)

and [Finish bundle...](https://github.com/spotify/scio/blob/5d34eaae1b3347e751278ebf902910f6434ea6e7/scio-core/

[2018-02-05 21:55] rculbertson commented on #1041
Sounds like a good change. PR: #1042

[2018-02-05 22:14] ravwojdyla commented on #1041
Fixed in #1042

[2018-02-05 22:14] #1041 closed

[2018-02-06 14:02] Tomczik76 opened #1043 "Support prediction on TensorFlow's saved model"
I'm testing using the ``` "com.spotify" %% "scio-tensorflow" % "0.4.7"``` package and I'm having issues with reading my Saved Model with the default way passing a binary file path to ```.predict```

The way I'm writing the binary file is

[code]

The problem is using this method I'm getting errors like

[code]

Although I've got it working by creating my own custom ```DoFn``` based on the ```Predi

[2018-02-06 14:19] richwhitjr commented on #1043
The TF Java api is a little odd compared to most of other TF in that it expects the graph to be frozen.  This means the variables have to be stored as constants in the protobuf file instead in a separate variables directory as TF normally does.

This PR shows how you can freeze the graph:  https://github.com/spotify/spotify-tensorflow/pull/26

[2018-02-06 14:54] Tomczik76 commented on #1043
Do you think it would be worthwhile to create a PR with an implementation of ``` .predict``` that can take a path a standard Saved Model and download it with the FileSystems API and load the session the way I described above?

[2018-02-07 20:32] ravwojdyla commented on #1043
@Tomczik76 sure. Current `predict` expects frozen graph, which you can simply do by using helper from https://github.com/spotify/spotify-tensorflow.

That said I'm +1 to add `predict` with support for `SavedModelBundle`.

Will go ahead and rename this issue to support `SavedModelBundle` in `predict`.

[2018-02-09 15:25] nevillelyh opened #1044 "Verify counter behavior when mutated outside of a pipeline"
We have a feature request that metric mutation e.g. `counter.inc()` should fail with a meaningful message when called outside of a pipeline (a lambda).

This is probably a beam issue. We need to verify the current behavior and maybe report/fix upstream.

[2018-02-09 17:43] guidj commented on #815
I had these randomly failing for today

[code]

[2018-02-09 20:10] jpvelez commented on #1013
I'll take a stab at this.

I'm going to start by looking at AvroIO, BigQueryIO, FileIO; examine the builder methods and list out their argument types. Any non-primitive types, let's figure out how to make them more fluent.

[2018-02-09 20:21] #726 closed

[2018-02-10 04:24] nevillelyh commented on #997
It's caused by the lack of `equals/hashCode` in Breeze `SparseArray`, fixed in 9f6c0d6387521e5396e8f651f1c8947468bf1542.

[2018-02-10 04:24] #997 closed

[2018-02-10 15:01] guidj commented on #840
How would you run tests with this?
Seems I need permissions to run the existing integration tests for scio-bigquery

[2018-02-10 15:10] nevillelyh commented on #991
Duplicate of #1003

[2018-02-10 15:10] #991 closed

[2018-02-10 23:37] calonso commented on #448
Here there is an example of using both Stateful and Timely processing in scala. It basically receives an input of `KV[String, MessageWithAttributes]` buffers them and flushes either after `maxRetention` or when the window expires or when it reaches a `maxBuffersChar` length. Let me know if you need any further clarification or anything else: https://gist.github.com/calonso/14b06f4f58faf286cc79181c

[2018-02-11 03:18] nevillelyh commented on #448
Awesome thanks!

[2018-02-12 14:27] guidj commented on #840
Looking at the code, it seems that some functionality, like `waitForJob` and `logJobStats` is tied to Query type jobs. I'm wondering about the best way to structure BigQueryClient to accomodate other job types.

Here's what I have in mind:

[code]

Encapsulating functionality would break APIs, so maybe that can be postponed or just done for the new job types

Thoughts?

[2018-02-12 15:56] nevillelyh commented on #840
It doesn't have to be integrated into the query job scaffolding right? If we need this for convenience only, it could just be a pair of blocking methods in `BigQueryClient`.

On the other hand, IIRC the BQ job logic is never exposed, so breaking change may be fine?

[2018-02-12 16:35] nevillelyh commented on #946
Pushed to https://github.com/spotify/scio/tree/beam-2.3.0
All done pending Beam 2.3.0 release.

[2018-02-12 18:00] guidj commented on #840
True. I was thinking about `def waitForJobs(jobs: QueryJob*)`, as it's public. But `QueryJob` isn't, so you're right, it's not really exposed

The Job types would be to share methods like waitForJob or logStats, instead of having that implemented by each Job type because most of the logic would be the same (ping the API for job status, sleep).

I updated the previous comment, the logic in `object

[2018-02-13 03:24] nevillelyh commented on #840
Make sense. I'm fine with breaking it since it's not supposed to be used by end users.
Wanna draft a PR and we go from there?

[2018-02-13 09:19] guidj commented on #840
Alright

[2018-02-13 09:21] labianchin commented on #840
Would this provide a way to load avro files into BQ? That would be a very nice replacement of [luigi BigQueryLoadAvro](https://github.com/spotify/luigi/blob/master/luigi/contrib/bigquery_avro.py).

[2018-02-13 23:51] ravwojdyla opened #1046 "Validate that update of table would refresh schema"
While working with @fallonchen we have encountered a case where we had to update BQ table (which changed only the schema - the table name, and content stayed the same), after recompilation the change was not reflected in the case classes. It might be that the schema was reused from the cache. Validate if this is working-as-expected.

[2018-02-14 15:38] andrisnoko commented on #1031
@nevillelyh I will take on this issue since I had initially explored it [here](https://github.com/andrisnoko/beam/blob/bulk-write-working/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigtable/BigtableIO.java#L734)

[2018-02-16 14:11] nevillelyh commented on #1046
Is this `@BigQueryType.fromTable("...")`? IIRC it only hashes table spec as cache key and doesn't check timestamp. Maybe that's why?

[2018-02-23 16:51] andrisnoko opened #1051 "OOM errors in streaming pipeline"
Scio version 0.4.7/0.5.0-beta1
Following Scio pipeline throws out of memory errors.  Volume of traffic is about 65K/s. Increasing VM size/counts only delays the occurrence of the OOM errors.
[code]

Java/Apache Beam  version  works fine
[code]
To get heap dump run pipeline in DataFlow with this flag `--dumpHeapOnOOM`. May have to run a few times to get the heap dump.

Looking at the logs for heap

[2018-02-23 17:30] pabloem commented on #1044
Hi Neville! I work on Beam metrics. Currently, `counter.inc()` is a no-op if called outside any metrics context. This can be fixed in Beam - I'll file a bug in Beam. How does that sound?

[2018-02-23 17:51] ravwojdyla commented on #1051
Looks like regression from #825

[2018-02-27 10:05] mcapuccini opened #1053 "Equivalent for mapPartitions"
Hi! I just bumped into your amazing library 🙂 I developed a Docker-based dataprocessing tool based on Spark (https://github.com/mcapuccini/EasyMapReduce), and I am evaluating if I could do a bit of refactory using Scio, to enable running on Google Dataflow.

My tool feeds Spark partitions through Docker containers, that contain data processing tools. In order to do this I use mapPartitions, which

[2018-02-27 10:11] yonromai commented on #1053
@mcapuccini interesting tool!
@nevillelyh it's hard to abuse dataflow to install & run arbitrary code (like a docker container), compared to spark, right?

[2018-02-27 10:21] mcapuccini commented on #1053
They did something similar at Google https://github.com/googlegenomics/dockerflow. They discontinued support though. Assuming that there is a Docker socket available in the Dataflow workers, then it should be possible to run the following code in a `map`:

https://github.com/mcapuccini/EasyMapReduce/blob/master/src/main/scala/se/uu/it/easymr/EasyDocker.scala#L49-L99

[2018-02-27 15:25] nevillelyh commented on #1053
I see 2 questions here:

- If there's a equivalent to Spark's `mapPartitions`. I'm afraid it's a no. Beam doesn't expose internal partitions and the smallest processing group is a bundle but that depends on the runner, mode (streaming vs batch) and other factors and is not user tunable.
- If we can run Docker containers in Dataflow. It's possible but will be hacky. DF runs user code in a container

[2018-02-27 15:29] mcapuccini commented on #1053
Thanks! That clarifies it. I guess I'll stay with my Spark implementation for now.

[2018-02-27 15:29] #1053 closed

[2018-02-27 15:36] nevillelyh commented on #1051
I see this as a private member of `class KryoAtomicCoder`:
[code]

So each `KAC` instance (potentially per `PCollection` x bundle x thread) might end up getting it's own `ThreadLocal[KryoState]` and not sharing them. Try moving it to `object KryoAtomicCoder` so it's globally shared?

[2018-02-27 16:46] nevillelyh commented on #1044
@pabloem sounds good! Can you link the JIRA ticket here once filed?

[2018-02-27 22:21] nevillelyh opened #1055 "Add command line option to specify waitUntilDone duration"
https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/ScioContext.scala#L360

[2018-02-27 22:29] nevillelyh opened #1056 "Ability to cancel job from ScioResult"
IIRC `ScioResult#waitUntilDone` only throws an exception when the timeout is up but won't cancel the job. Need to pass it to the underlying job (might be runner specific?).

[2018-02-28 14:56] ClaireMcGinty commented on #1056
as far as working this functionality into `ScioResult`, what do you think about modifying `waitUntilDone(duration: Duration = Duration.Inf)` to include an optional boolean like `waitUntilDone(duration: Duration = Duration.Inf, doCancelJob: Boolean = false)` ? The other option would be to just add an entirely new method like `def waitOrCancel(duration: Duration = Duration.Inf): ScioResult  = {...}`

[2018-02-28 15:03] nevillelyh commented on #1056
+1 on optional argument. Although it might break binary compatibility? But that should be OK if we include this in 0.5.0 release. cc @regadas

[2018-02-28 16:22] regadas commented on #1056
optional arg sounds good at first glance. I think we can fit it in the 0.5.0 release

[2018-02-28 16:49] regadas commented on #1056
@ClaireMcGinty are you planing on taking this one? 😄

[2018-02-28 18:28] ClaireMcGinty commented on #1056
@regadas yep!! it looks like it's as simple as calling `internal.cancel()` (at least, this worked with the batch Dataflow runner...). I'll put up a PR after I get things cleaned up/tested.

[2018-02-28 21:10] ClaireMcGinty commented on #1056
posted https://github.com/spotify/scio/pull/1058

[2018-03-01 14:44] samchorlton opened #1059 "SparkRunner Metric Not Found"
Attempting to run the word count example using the spark runner and getting the following error.

[code]

[2018-03-01 15:45] nevillelyh commented on #1059
Do you have more info, e.g. code snippet, skeleton project? Did it actually start a `SparkContext` and execute code? The error message `"the metric might not have been accessed inside the pipeline"` makes me suspect that it did not.

[2018-03-01 15:49] samchorlton commented on #1059
So I literally copied the WordCount example from the project and tried to use the --runner = SparkRunner. It runs fine with DirectRunner.

I have just tried moving to 0.4.7 version of scio as was on 0.4.4 and getting a new error:

[code]

This is my SBT file

[code]

[2018-03-01 15:55] nevillelyh commented on #1059
You should match `beam-*` versions with scio according to this page:
https://github.com/spotify/scio/wiki/Apache-Beam

So it should be `2.2.0` for scio `0.4.7`. On top of that, `spark-*` version should match what Beam uses, so it should be `1.6.3` for Beam `2.2.0`
https://mvnrepository.com/artifact/org.apache.beam/beam-runners-spark/2.2.0

In addition, it seems Beam is only built for Spark + scala

[2018-03-01 15:58] samchorlton commented on #1059
Thanks for the response. I matched the versions off of a working Java Beam Application I have running with the SparkRunner. I will try fiddling with some of the versions and see what happens. Is Scio not really designed with the SparkRunner in mind?

[2018-03-01 16:03] nevillelyh commented on #1059
Scio is runner agnostic and it should be Beam's job to keep the runners up to date. But SparkRunner depending on spark with scala 2.10 might be a dealbreaker.
We only use the DF runner and it's hard for <5 core devs to support dozens of different configurations.

[2018-03-01 16:10] nevillelyh commented on #1059
So there's still hope...
Beam 2.3.0 depends on Spark 2.2.1 with Scala 2.11 now.
https://mvnrepository.com/artifact/org.apache.beam/beam-runners-spark/2.3.0

We're planning to release a new version of Scio based on Beam 2.3.0 in a few weeks, but meanwhile you can build it from source from the https://github.com/spotify/scio/tree/beam-2.3.0 branch. Give it a try?

[2018-03-01 16:36] samchorlton commented on #1059
Ah ok I will have a look at that and see how I get on.

[2018-03-01 17:01] regadas commented on #1056
PR #1058

[2018-03-01 17:01] #1056 closed

[2018-03-01 22:09] ClaireMcGinty commented on #1055
after taking a look how `ScioContext` is set up, I was envisioning implementing this by adding a getter/setter for `jobTimeout` to `ScioOptions.java` and setting it in [ScioContext#parseArguments](https://github.com/spotify/scio/blob/19fee4716f71827ac4affbd23d753bc074c529b8/scio-core/src/main/scala/com/spotify/scio/ScioContext.scala#L145). that way `ContextScioResult` has access to it when `waitUn

[2018-03-01 22:21] nevillelyh commented on #1055
Pretty much yeah. You shouldn't have to do anything in `parseArguments` since anything in `ScioOptions` will just be passed on. You can do `.as(classOf[ScioOptions])` in `ContextScioResult` and retrieve the setting.

[2018-03-02 03:55] #946 closed

[2018-03-02 08:41] inejc opened #1061 "Additional named step automatically added to the end of the pipeline"
When `withName("BigQuerySink").saveAsTypedBigQuery(...)` transform is used as the last step of the pipeline, an additional step is automatically added at the end of the it. Inspecting the job through Dataflow UI gives named steps that look something like this:
```... --> BigQuerySink --> saveAsTypedBigQuery@{FileName.scala:82}1```

I asked on [gitter](https://gitter.im/spotify/scio) whether there

[2018-03-02 11:33] samchorlton commented on #1059
So I have tried building off of the branch had to make a few changes to the SBT but managed to get it to compile with the SparkRunner however we are back at the same problem

[code]

[2018-03-02 11:41] samchorlton commented on #1059
I still suspect this is a dependency conflict. Here is the dependency set from Maven for the spark runner. I'm not that familiar with SBT so maybe this will flag something to you

[code]

[2018-03-02 11:41] nevillelyh commented on #1059
So you've hit one of the dependency issues I was thinking about. It's probably fixable with a lot of shading, exclusion or pinning exact versions.

If I were to keep digging, I'd dump a dependency tree and start from there.

Another question is why are you trying the spark runner? Could just use vanilla spark? Also I've heard people with better luck running Beam on flink.

[2018-03-02 11:46] samchorlton commented on #1059
Sounds like a bit of a headache.

So I am more familiar with writing vanilla spark just wanted to look at the option of still being able to use Spark but easy to move away from at a later date. I have successfully got the SparkRunner working on native beam I was just keen on using the Scala interface as I am familiar with it from Spark development.

[2018-03-02 13:42] samchorlton commented on #1059
The FlinkRunner in Scio is working fine so I think it is correct that there are dependency issues with Spark. Thanks for the help.

[2018-03-02 17:14] joelostlund opened #1064 "Missing (Left|Right|Full)OuterSkewedJoin"
Hello,

Currently scio only implements a regular skewed join. For my project and performance reasons I need to have a LeftOuterSkewedJoin, which SCIO doesn't have. Ideally all needs could easily be solved by a FullOuterSkewedJoin.

https://github.com/spotify/scio/blob/a38ac1139c12837d571219322e343e47346ec13e/scio-core/src/main/scala/com/spotify/scio/values/PairSCollectionFunctions.scala#L318

The

[2018-03-03 00:58] regadas commented on #1055
#1062

[2018-03-03 00:58] #1055 closed

[2018-03-04 17:14] tmiyamon commented on #1051
I got the same problem.

[2018-03-05 10:17] inejc commented on #1061
I'm interested in looking into this.

[2018-03-05 19:38] ravwojdyla commented on #1059
Given last comment -> closing.

[2018-03-05 19:38] #1059 closed

[2018-03-05 20:48] ravwojdyla commented on #1051
@andrisnoko are you working on this, or is it up for grabs for others?

[2018-03-06 17:22] pemdp opened #1068 "Cassandra "LEAK DETECTED" error when using scio-cassandra"
The following error appears when streaming data to Cassandra:

Below is a snippet with a similar stream. The target Cassandra table has only one field which is of the text data type.

[code]

Tested on _Apache Cassandra 3.0.16_ and _Scio 0.4.7_ and _0.5.0-beta1_

[2018-03-07 09:14] inejc commented on #1061
Could you direct me to where I should start looking for the problem? I see that names are set to transforms in [PCollectionWrapper](https://github.com/spotify/scio/blob/d6635a626868c7db8926273c7c6c142883180ddb/scio-core/src/main/scala/com/spotify/scio/values/PCollectionWrapper.scala#L44) by calling `apply` on internal `org.apache.beam.sdk.values.PCollection`, getting the name from the [TransformNa

[2018-03-07 14:41] guidj commented on #840
Shall we close this based on #1060?

[2018-03-07 14:49] #840 closed

[2018-03-07 19:35] andrewsmartin commented on #1061
@inejc That's right...so basically when you call `.withName()`, the `TransformNameProvider` is mutated so that it applies the given name to the **next** transform applied, after which the `CallsiteNameProvider` is used again. The `.saveAsTypedBigQuery` "transform" is actually composed of 2 transforms under the hood - first, a `map` to convert from case class to `TableRow`, then a `BigQueryIO.write

[2018-03-08 10:58] inejc commented on #1061
Thanks for the help @andrewsmartin, opened a PR.

[2018-03-08 21:18] jpvelez commented on #1013
## AvroIO

### Static Tranform Constructors
To make AvroIO.(Read | ReadAll | Parse | ParseAll | Write | TypedWrite) root transforms, you call one of the following `AvroIO` static constructor methods:

[code]
The only input types that may need Scala conversion here are:
- `org.apache.avro.Schema`
- `org.apache.beam.sdk.transforms.SerializableFunction`

### AvroIO.Read PTransform
Each method use a B

[2018-03-09 08:19] nevillelyh commented on #1013
So we can start by wrapping non-primitive argument types, especially ones with natural scala counterparts. We can do it with either implicit conversion, or `Rich*` classes with conversion methods `as*`.

- `SerializableFunction`
- `ValueProvider`
- `ResourceId`
- `FilenamePolicy`
- ...

[2018-03-09 22:03] nevillelyh opened #1071 "Contribute AsyncDoFn upstream"
https://github.com/spotify/scio/blob/master/scio-core/src/main/java/com/spotify/scio/transforms/AsyncLookupDoFn.java

[2018-03-12 14:37] ravwojdyla opened #1073 "Refactor BigQueryClient"
`BigQueryClient` grew both in the size of the class/file but also public API, we now support jobs/export/imports - this task is to refactor the client/API to be more consistent across different functions (jobs/export/import etc) - consider pros/cons for pulling the client out of scio to a separate lib.

Related:
 #1060
 #1049

[2018-03-12 16:25] kubum commented on #706
Hi @nevillelyh

I would like to know more about Cassandra source. How do you see it is working? Any potential problems or ideas?

Thank you!

[2018-03-12 21:03] nevillelyh commented on #706
Don't have any good idea for this. The sink we have is optimized for throughput in batch mode and doesn't work so well in streaming. It uses `BulkWriter` under the hood which exposes some Cassandra internals and there isn't an equivalent `BulkReader`.

Upstream has [CassandraIO](https://github.com/apache/beam/tree/master/sdks/java/io/cassandra/src/main/java/org/apache/beam/sdk/io/cassandra) but it

[2018-03-14 14:38] nevillelyh opened #1077 "test"
test slack integration

[2018-03-14 14:38] #1077 closed

[2018-03-15 23:38] guidj commented on #1073
I can take this one

[2018-03-17 17:32] tmiyamon commented on #1051
I'm working on this issue.

[2018-03-20 14:18] jto opened #1078 "Better support for parameterised queries in @BigQueryType.fromQuery"
Currently String.format is used to set parameter values. For example

[code]
And then we set the parameters with something like:
[code]

It would be nice if the macro `TypeProvider.toTableImpl` was generating a properly typed function based on the wildcards. For example:

[code]

I don't think it's particularly hard to implement but preserving back-compatibility and good IDE support is probably go

[2018-03-20 15:25] jto opened #1079 "Improve JobTest Typesafety"
Currently the types of input and outputs when using `JobTest` to test pipelines are just inferred from the local context of the test.

See for example `com.spotify.scio.examples.complete.game.HourlyTeamScoreTest` from `scio-examples`:

[code]

As a consequence, the compiler can't automatically infer the types of inputs and output. In this example removing the explicit type parameter for `BigQueryI

[2018-03-20 18:28] nevillelyh commented on #1078
Yeah shouldn't be hard to add a `queryFn` method to the generated code. But since most params are passed in via python Luigi and stringly typed this probably has low benefit to effort ratio?

[2018-03-20 18:35] nevillelyh commented on #1079
Related to #575 an ongoing effort.
To do this we have to statically express the IO types of a job? How would you handle variable number of inputs and outputs? With shapeless?

[2018-03-20 18:45] jto commented on #1079
Yes, the Job type should express the types of the IOs. If possible It'd be nice not to force Shapeless on the end user. Honestly, I have some intuition on how to implement that but nothing concrete...

[2018-03-20 18:46] jto commented on #1078
You know that better than I do :)

[2018-03-21 11:28] jto opened #1081 "Split ScioContext in 2 cases Real execution and test"
Related to #575

The current version of `ScioContext` handles both the "real" execution of pipelines and the local execution of pipelines in tests.

This leads to almost every methods in `ScioContext` loolking more or less like this:

[code]

I suggest we turn `ScioContext` into a trait with most methods left unimplemented and create 2 concrete implementations: `TextContext` and `BeamContext`. Thi

[2018-03-21 16:36] francescoperera opened #1082 "S3 IO support"
It doesn't look like there is an S3 IO  in Scio but  I know that it was just added to the Beam Java SDK (https://github.com/apache/beam/pull/4080).
 Are  there plans to add it here as well ?

[2018-03-21 16:38] andrewsmartin commented on #1082
Hi @francescoperera, we don't have any immediate plans since we don't really use S3 internally - but PRs are certainly welcome :)

[2018-03-21 16:41] andrewsmartin commented on #1082
Also - you can still do this from Scio, you would just have to drop down to the Java API. https://github.com/spotify/scio/wiki/FAQ#how-do-i-use-beams-java-api-in-scio

[2018-03-21 17:31] asydorchuk opened #1083 "Support saving Avro records implicitly to BigQuery"
It would be nice to have a way to implicitly save Avro records from Scio job directly to BigQuery without a need to explicitly specify schema.

So far I only found a way to do so from GCS: https://github.com/spotify/scio/issues/840

[2018-03-21 20:44] nevillelyh commented on #1083
We need a library to convert:
- Avro schema to/from bigquery
- Avro generic record to/from bigquery

We have some internal library for this. Can maybe copy and adapt here.

[2018-03-22 01:51] francescoperera commented on #1082
@andrewsmartin thanks for the answer. I will look into and maybe open a PR for it if needed

[2018-03-23 16:19] bbhoss commented on #903
@kurtmaile did anything every become of this? Considering spanner vs bigtable.

[2018-03-26 11:20] Fokko commented on #817
This medium post explains it quite clearly: https://medium.com/@erik.b.ferm/combining-bounded-pcollections-with-custom-timestamps-in-apache-beam-b0fd911b2ac

[2018-03-26 14:01] nevillelyh opened #1085 "Improve Flink runner support"
Here’s an incomplete list of tasks. We can break them down further or create new issues to track as we go.

- [x] Make sure Flink runner runs all Beam examples [BEAM-3924](https://issues.apache.org/jira/browse/BEAM-3924)
- [x] Implement Flink specific `ScioContext` and `ScioResult`
- [x] Work out a dependency strategy and fix existing conflicts
- [x] Make sure Flink runner runs all `scio-examples`

[2018-03-27 14:42] andrewsmartin opened #1088 "IllegalArgumentException when writing avro using AvroIO.TypedWrite"
[code]

[2018-03-27 15:26] #1088 closed

[2018-03-27 19:21] nevillelyh commented on #575
I'm quite happy with the progress so far, maybe `object TextIO` can be merged into `class TextIO` since most of its members are private. Otherwise it looks fine.

@jto WDYT?

[2018-03-27 19:36] jto commented on #575
Yes definitely. Plus most methods take a path anyway so it makes sense to have them in TextIO.

The work on this branch is the base for more refactoring.  I'm currently working on removing the dependency on scio-bigquery from scio-core based on this work. The sooner we merge this to master, the better.

[2018-03-27 19:39] nevillelyh commented on #575
How do you see a smooth/gradual way of merging this to master?
I kinda don't want to introduce a new API until every IO is covered and old ones are replaced, i.e. after renaming NIO API to legacy ones to minimize breaking change.

[2018-03-27 19:44] nevillelyh commented on #575
I mean we can merge to master, but keep the new methods/classes private, and replace legacy ones once everything's ready?

[2018-03-27 19:48] jto commented on #575
Yeah something like that. I think we could also change the implementation of the old methods to use the new IOs under the hood.

[2018-03-27 19:48] nevillelyh commented on #575
Exactly what I have in mind!

[2018-03-27 19:55] nevillelyh commented on #1085
From @jto

https://github.com/sbt/sbt-assembly#shading
A better solution is to rename our versions of the conflicting packages.
[code]

[2018-03-27 20:07] nevillelyh commented on #1085
@Igosuki @bkirwi FYI, would love to collaborate on this.

[2018-03-29 17:22] psobot opened #1092 "SCollection#unionAll throws an exception on empty list"
When passed an empty `Iterable[SCollection[T]]`, `SCollection#unionAll` throws an exception:

[code]

Scio should probably handle this case properly before calling into `PCollectionList`, as the union of an empty list of collections is logically an empty collection.

[2018-03-29 17:24] nevillelyh commented on #1092
Maybe we can check if the input list is empty and use `sc.parallelize(Seq.empty[T])`?

[2018-03-31 08:49] f-loris opened #1093 "Repl doesn't start on Windows"
When using the scio-repl on Windows an error appears while starting:
[code]
This is related to the Windows path separator `\` in the path of the `ReplScioContext`.

[2018-04-02 22:36] #1092 closed

[2018-04-03 03:54] #1093 closed

[2018-04-04 12:51] oskoi commented on #1051
@tmiyamon what is the progress in fixing this problem? I got it on version 0.5.1

[2018-04-04 14:15] jto opened #1097 "Stricter Scalac options"
Right know we use very fews options of the Scala compiler:

[code]

Scalac support a number of options for linting the code that we could leverage.
Here's an example of the options I use on a personal project: https://github.com/jto/validation/blob/v3/tagless2/project/scalaOptions.scala.

We may not want to use all those options in Scio but some of them are easy to satisfy and help with the code q

[2018-04-04 14:21] jto opened #1098 "Automatic code formatter ?"
Since we already have guidelines on code style, how about using scalafmt to automatically format the code before compiling ? I think we should be able to conf scalafmt to match our guidelines.

Only downside is that diffing between code written before the formatting and after will be painful.

[2018-04-04 15:33] regadas commented on #1098
@jto I actually pitched this to @nevillelyh and @ravwojdyla awhile back and i have been using it for some time now... I think i have a nice config for it!

I was planing to try this out in a smaller project ... one that we just released to get some input and tweak it http://github.com/spotify/noether.

[2018-04-04 16:24] jto commented on #1098
I usually use a sbt plugin to format the code every time it's compiled.
So both locally and on CI.

[2018-04-04 16:25] nevillelyh commented on #1097
:+1: if we can document each options like in your repo.
Also do you want to introduce all of them or gradually in small batches? I'm leaning towards a few at a time, together with code fixes, so it's not too overwhelming and we can validate the changes through releases.

[2018-04-04 16:31] tmiyamon commented on #1051
I tried to move kryoState to object and it passed all existing tests, but actually I'm not sure it resolves this issue correctly.
I think it's needed to checking instance size or memory usage as a test, but I don't come up with specific idea for it..

[2018-04-04 16:32] jto commented on #1097
Definitely gradually with a dedicated PR every time.
We don't necessarily have to use all the options either.

[2018-04-04 16:33] nevillelyh commented on #1051
Have you guys looked at #1091? Think it's relevant to the issue here?

[2018-04-04 16:45] tmiyamon commented on #1051
Year it looks solving this issue.

[2018-04-04 17:59] nevillelyh opened #1099 "Use zoltar in scio-tensorflow"
So we can reduce duplicates and standardize code.
https://github.com/spotify/zoltar

[2018-04-05 18:08] jpvelez commented on #1013
@nevillelyh gonna start working on `SerializableFunction`. Any others?

[2018-04-05 18:09] nevillelyh commented on #1013
Can't think of any at the moment, but take a look at some other Beam IOs?

[2018-04-06 16:49] regadas opened #1100 "Look into adding MiMa support to avoid binary incompatibility."

[2018-04-07 04:02] MikioSuematsu opened #1101 "I want to suppress writing to BigTable."
There was a way to deal with the previous commit. #614
However, at present, 'withRateLimit' seems to be gone.

How can I do the same?

[2018-04-09 14:07] ravwojdyla commented on #1101
@MikioSuematsu Since [bigtable-client-1.0.0-pre1](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/releases/tag/bigtable-client-1.0.0-pre1) should support client side throttling, #614 was a temporary workaround. Please check BigTable options including Bulk, Throttling. Another thing all together is #1057 (which might or might not be related to your issues), please follow the PR and the

[2018-04-09 14:07] #1101 closed

[2018-04-09 16:37] guidj commented on #1073
I still intend to work on this. Just been busy at work and will be off until the end of the month
If someone wants to pick it up though, I don't mind.
Otherwise, I'll get to it when I'm back.

[2018-04-09 18:00] guidj commented on #1073
👍

[2018-04-11 08:40] MikioSuematsu commented on #1101
@ravwojdyla
I appreciate your kindness 😃
I could do it by trying [enableBulkMutationThrottling](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/blob/master/bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/config/BulkOptions.java#L162)  and [setBulkMaxRequestSize](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/blob/master/bigtable-c

[2018-04-11 08:50] jto commented on #1073
See https://github.com/spotify/scio/pull/1096

[2018-04-11 10:52] inejc commented on #1061
The initial problem is fixed, but the exactly the same problem now occurs one step before. The last two steps now look something like this: `saveAsTypedBigQuery@{FileName.scala:82}1 --> BigQuerySink$Write`. This probably happens because of [this](https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/values/SCollection.scala#L1126). I'm not sure whether this new beha

[2018-04-11 13:25] vertexclique opened #1104 "Unsupported type: org.joda.time.DateTime @com.spotify.scio.bigquery.types.BigQueryTag"
Even DateTime support merged, DateTime doesn't work with the latest version (0.5.2).

Getting the error like:
[code]

and class is like that:
[code]

[2018-04-11 14:40] nevillelyh commented on #1104
@andrewsmartin wanna take a look?

[2018-04-11 14:53] andrewsmartin commented on #1104
@vertexclique so afaiu Joda's `DateTime` is an absolute point of time (i.e. has a timezone) which means it can easily be converted to `Instant`, which we use to map to BigQuery's `DateTime`. Would that work for you?

Maybe in the `BigQueryType.toTable` case we can do the `DateTime -> Instant` conversion within the macro - @nevillelyh what do you think?

[2018-04-11 14:55] nevillelyh commented on #1104
Actually we support `LocalDateTime` right? Is that sufficient?
Prefer not to open up new complexity.

[2018-04-11 14:55] andrewsmartin commented on #1104
Yeah either `LocalDateTime` or `Instant` should be sufficient depending on the use.

[2018-04-11 14:56] andrewsmartin commented on #1104
@vertexclique will close this for now - please reopen if you have any further issues.

[2018-04-11 14:56] #1104 closed

[2018-04-12 18:56] ravwojdyla opened #1110 "beam-master update to beam 2.5.0-SNAPSHOT"
Some changes to counters are required, some WIP is in #1102 , currently this is blocked on https://issues.apache.org/jira/browse/BEAM-4060, will wait for beam to fix instead of trying to work around this in scio repo.

[2018-04-13 09:15] inejc commented on #1061
I agree--such behind-the-scenes mutations make it easier for errors to slip in. Anyway, I'd be glad to look into it and open a PR.

[2018-04-13 16:50] #1031 closed

[2018-04-16 15:43] jto commented on #1078
Scio I'm following GP033 and you still parse Luigi's parameters and call `TrackEntity.query.format(...)` so a bit more type safety would make sense IMHO.

[2018-04-18 10:42] calonso commented on #448
I may have misunderstood your issue, but I guess that just `map`ping your `SCollection[(String, Event)]` into `SCollection[KV[String, Event]]` should do.

[code]

[2018-04-18 14:13] andrisnoko commented on #890
@regadas are you still looking into this? If not, I can take it.

[2018-04-18 14:30] regadas commented on #890
@andrisnoko yeah you can take it! completely forgot about this one 😛

[2018-04-18 21:07] jto opened #1116 "Give better help, documentation and error messages for pipeline options"
Currently if we forget parameters when running a pipeline Scio just throws an exception.
For example:
[code]

`--help` is also not supported, and there's no way to interactively get documentation about the pipeline supported options (I'm thinking about both required and optional parameters).

It would be nice if a scio pipeline provided better errors and documentation about its options.

[2018-04-23 13:58] jto opened #1123 "Investigate test unit test performances"
We could possibly make the execution of the test suite faster.
@nevillelyh suggest we have a look at `KryoRegistrarLoader` which may be a bottleneck.

[2018-04-23 14:04] nevillelyh opened #1124 "Too many file descriptors potentially messing up sbt console"
Sometimes after running tests, the sbt console stop echoing back user input even though it's still running. We suspect `junit-interface` caused this and it might be fixable with some settings tweak.

[2018-04-23 14:06] jto commented on #1124
I'll have a look at this. I can reproduce it every time on my laptop.

[2018-04-23 20:27] welvet opened #1125 "java.lang.ClassCastException: scala.collection.mutable.HashSet cannot be cast to scala.collection.mutable.TreeSet"
[code]

This code producing class cast exception which seems to be related to Kryo serialization / deserialization process. If I replace "explicit" mutable.TreeSet to immutable.TreeSet everything works as expected.

[code]

Versions:
[code]

[2018-04-25 08:50] Zhen-hao opened #1128 "Flink runner failing on a remote cluster"
I got the following error after submitting a streaming job to a Flink cluster with the runMain command in SBT.

[code]

[2018-04-25 08:54] inejc commented on #1061
@andrewsmartin I've opened a PR (also tested the fix by submitting a dataflow-runner job and it looks alright). Could you explain why another name is not automatically set [here](https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/values/SCollection.scala#L1136)? Thanks.

[2018-04-25 09:13] nevillelyh commented on #1125
This is probably because kryo doesn't have a specific serializer for mutable.TreeSet. Can you try registering one yourself? Don't think it's something we should fix in Scio.
https://github.com/spotify/scio/wiki/FAQ#how-do-i-use-custom-kryo-serializers

[2018-04-25 09:13] Zhen-hao commented on #1128
I used the following shading setting recommended by @nevillelyh in another issue. Could that cause this problem?

[code]

[2018-04-25 09:14] jto commented on #1124
Seems to be caused by https://github.com/sbt/sbt/issues/937

[2018-04-25 09:15] nevillelyh commented on #1128
Do you have conflicting versions of kryo/chill?

[2018-04-25 10:42] Zhen-hao commented on #1128
It is not obvious to me. The build profile is here

[code]

[2018-04-25 10:43] Zhen-hao commented on #1128
I am using Flink 1.4.2 on the cluster. But this should be fine I guess.

[2018-04-25 11:01] Zhen-hao commented on #1128
I looked into the dependencies.

for chill,
[info] com.twitter:chill-algebird_2.11:0.9.2
[info] com.twitter:chill-java:0.9.2
[info] com.twitter:chill-protobuf:0.9.2
[info] com.twitter:chill_2.11:0.9.2

and for kryo,
[info] com.esotericsoftware:kryo-shaded:4.0.2
[info] com.esotericsoftware.kryo:kryo:2.24.0

[2018-04-25 11:14] Zhen-hao commented on #1128
@nevillelyh   Can you explain what is packed and shipped to the Flink cluster?
I have a feeling that not every dependency is available on worker nodes.

[2018-04-25 11:15] nevillelyh commented on #1128
@jto can you take a look?

[2018-04-25 11:31] jto commented on #1128
So, instead of running from SBT, you'll need to build a fat jar using [sbt-assembly](https://github.com/sbt/sbt-assembly) and to shade some dependencies.

Here's is the appropriate config:
[code]

Once you have that Jar, you should be able to deploy it on a Flink cluster using the "normal" Flink deployment process.

Please note that Flink 1.4.x is not fully compatible with Beam, so you may run int

[2018-04-25 11:56] Zhen-hao commented on #1128
Thank you, @jto
When I submit the fat jar to the Flink cluster, I get

[code]

[2018-04-25 11:57] jto commented on #1128
Did you include the FlinkRunner in your dependencies ?

[2018-04-25 12:00] Zhen-hao commented on #1128
yes, same build file as above and the arguments used in the submission is
`--runner=FlinkRunner --streaming=true `

[2018-04-25 12:07] jto commented on #1128
Are you sure you're submitting the fat jar ? the jar should be 80MB or so.

[2018-04-25 12:12] Zhen-hao commented on #1128
yes, I am sure. mine is 140MB

[2018-04-25 12:26] jto commented on #1128
Make sure your fat jar contains the flink runner. Also make sure you're deploying the jar as documented  in Flnk's documentation (something like: `./bin/flink run yourjar.jar --port 9000`).

[2018-04-25 15:35] Zhen-hao commented on #1128
Turned out it was my assemblyMergeStrategy.
I had something like
`case s if s contains "META-INF" => MergeStrategy.discard`

[2018-04-25 15:38] Zhen-hao commented on #1128
The original error has been resolved.
But I am seeing the following error now. Closing this issue to make them separate.
[code]

[2018-04-25 15:38] #1128 closed

[2018-04-25 16:45] Zhen-hao opened #1130 "Flink runner jackson related error"
submitting a job to a Flink cluster got the following error.
I found a similar issue from two years ago:
https://groups.google.com/forum/#!topic/jackson-user/ID4f5GR2G5M

[code]

[2018-04-25 16:53] Zhen-hao commented on #1130
the build profile is as follows. The dependency tree is attached.

[code]
[dependent-tree.txt](https://github.com/spotify/scio/files/1948003/dependent-tree.txt)

[2018-04-25 19:01] Zhen-hao commented on #1130
If I add
`ShadeRule.rename("com.fasterxml.jackson.**" -> s"com.fasterxml.jackson_shaded.@1").inAll`
to assemblyShadeRules, I get this error

[code]

[2018-04-25 19:12] Zhen-hao commented on #1130
It could be a Beam or Flink bug?
https://stackoverflow.com/questions/39288943/apache-beam-with-flink-backend-throws-nosuchmethoderror-on-calls-to-protobuf-jav

[2018-04-26 11:56] Zhen-hao commented on #1130
solved by manually adding
`"com.google.protobuf" % "protobuf-java" % "3.4.0"`
and the merging strategy
[code]

Now the final working build profile is this

[code]

[2018-04-26 11:56] #1130 closed

[2018-04-26 16:09] #1061 closed

[2018-04-27 12:45] jto commented on #1124
I tried to workaround the problem using `Tags.limit(Tags.Test, 2)`. Any value above 1 and the test hangs on my machine...

[2018-04-27 17:40] jbigred1 opened #1133 "If annotating case classes using BigQueryType other macro annotations aren't preserved"
In our investigations for adding a new macro annotation we encountered a Scio bug.  When a user adds a static macro annotation such as `@BigQueryType.toTable` we noticed that any other annotations are removed if they exist below this one.

An example is

[code]

This will result in only the first macro being triggered with the second one being ignored.  This is because macros are processed in orde

[2018-04-27 17:40] #1133 closed

[2018-04-27 17:41] jbigred1 opened #1134 "If annotating case classes with BigQueryType other static macro annotations aren't preserved"
In our investigations for adding a new macro annotation we encountered a Scio bug.  When a user adds a static macro annotation such as `@BigQueryType.toTable` we noticed that any other annotations are removed if they exist below this one.

An example is

[code]

This will result in only the first macro being triggered with the second one being ignored.  This is because macros are processed in orde

[2018-04-27 17:42] nevillelyh commented on #1003
I can reproduce this by running `"Tensorflow" should "work for hello-wold"` only in `TensorflowSpec` with `sbt +scio-tensorflow/test`.

[2018-04-27 20:08] nevillelyh commented on #1003
Added a test to repro the issue. The 2 tests in this spec are identical.
- Running both tests with `sbt scio-tensorflow/test` works
- Running one of them with `sbt +scio-tensorflow/test` fails with the same "metrics" error.

[code]

[2018-04-27 20:18] nevillelyh commented on #1003
Adding `Test / fork := true,` to `scioTensorFlow` project fixed the issue.

[2018-04-30 11:40] nevillelyh opened #1135 "Add socco annotations for mobile gaming examples"
https://github.com/spotify/scio/tree/master/scio-examples/src/main/scala/com/spotify/scio/examples/complete/game

[2018-04-30 19:09] ravwojdyla opened #1136 "KryoException: java.lang.IndexOutOfBoundsException: Index: x, Size: y"
There has been at least two reports on this error on large "join" jobs, this error **seems** to be triggered on some data - at least in once case, a pipeline would run fine one day, but consistently fail on other day.

Contact: lanx, cpast

Job id example: 2018-04-24_07_44_16-11213165782653977475

[2018-04-30 19:31] lxlxlxlx commented on #1136
It sometimes fails with this similar but slightly error:
java.lang.RuntimeException: org.apache.beam.sdk.util.UserCodeException: com.esotericsoftware.kryo.KryoException: Encountered unregistered class ID: 120

[2018-04-30 21:29] #1003 closed

[2018-04-30 23:46] nevillelyh commented on #1125
Will close for now since it's outside our scope. Feel free to reopen if you have questions.

[2018-04-30 23:46] #1125 closed

[2018-05-01 08:25] nevillelyh commented on #1133
Why did you close this? No longer an issue?

[2018-05-01 08:27] nevillelyh opened #1137 "scio-tensorflow tests crashing when cross building"
`sbt +scio-tensorflow/test` crashes with something like:

[code]

https://github.com/spotify/scio/issues/1003#issuecomment-385080536

Adding `Test / fork := true` to `scioTensorflow` project fixes the issue locally but breaks Circle CI builds since now the containers are OOM due to the extra JVM.

[2018-05-01 08:35] nevillelyh commented on #1133
Duplicate of #1134

[2018-05-01 20:10] dsquier opened #1138 "Writing to Spanner failing after upgrading to Scio 0.5.3 and Beam 2.4.0"
## Issue

After upgrading Scio from 0.5.0 -> 0.5.3 and Apache Beam from 2.2.0 -> 2.4.0, a batch Dataflow job is erroring out, unable to complete.

## Test Case

Please see: https://github.com/dsquier/scio-beam-spanner-testcase

This repo contains all information to re-produce this issue. It requires an active GCP account and ability to create a 1-node Spanner instance for testing. All Spanner DDL

[2018-05-01 21:35] dsquier commented on #1138
I can confirm this also happens with Scio 0.5.3. I updated the testcase repo to reflect this.

[2018-05-02 14:16] nevillelyh commented on #1138
Possibly related to #1136 and fixed in #1140

[2018-05-02 19:18] nevillelyh commented on #1138
@dsquier I published a `0.5.4-PR1140-SNAPSHOT` with the fix. Can you give it a try?
https://github.com/spotify/scio/wiki/FAQ#how-do-i-use-the-snapshot-builds-of-scio

[2018-05-02 19:46] nevillelyh commented on #1100
Fixed in #1132

[2018-05-02 19:46] #1100 closed

[2018-05-03 14:58] #1136 closed

[2018-05-03 22:06] dsquier commented on #1138
I updated to `0.5.4-PR1140-SNAPSHOT` and re-tested. Unfortunately, the error is still occurring.

Also, just for posterity:

## Dependencies.scala

[code]

## SBT log

[code]
## Error

[code]

[2018-05-04 14:52] nevillelyh commented on #1138
It's a long shot, but can you try scala `2.11.12` instead?
Also is it possible to reproduce in a unit test or tiny job with `DirectRunner`, ideally without actually needing to write to Spanner?

[2018-05-07 16:26] dsquier commented on #1138
Sure, I will test Scala `2.12.12`.

My initial attempts to get the job to run via DirectRunner were not successful. I will revisit it and see if I can remove the actual write to Spanner.

[2018-05-07 20:39] nevillelyh opened #1146 "Add syntactic sugar for custom parallelism"
To abstract away the custom `DoFn` with `Semaphore` trick to limit concurrency level of a single transform.

Something like:
[code]

[2018-05-07 20:41] nevillelyh commented on #1146
We should also probably use the "resource" trick to make sure different instances on `main` end up with separate `Semaphore`s after being cloned on the workers.
https://github.com/spotify/scio/blob/master/scio-core/src/main/java/com/spotify/scio/transforms/DoFnWithResource.java

[2018-05-08 14:08] andrewsmartin commented on #843
@yonromai what's the state of annoy-jni? Did it get a green light from FOSS to make public? Just curious because some people internally have expressed interest in using it through scio

[2018-05-08 15:10] jto commented on #1137
Comes from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/lib/monitoring/collection_registry.cc#L75-L79 which suggest sbt is somehow loading the library once for the two versions but somehow is initializing it twice.

[2018-05-08 15:16] tfrojd opened #1149 "$LATEST in @BigQueryType.fromQuery() macro does not work when tables are partitioned by hour"
The use of  `$LATEST` in  `@BigQueryType.fromQuery()` macro does only work when tables are partitioned by day. If tables are partitioned by hours it does not work.

[2018-05-08 16:49] jto commented on #1137
Running the same test twice in the same sbt session also crashes:

[code]

[2018-05-08 21:53] #1146 closed

[2018-05-08 23:08] manuka2 opened #1152 "side input list are partially or entirely Null non-deterministically since upgrade to scio 0.5.2"
We recently upgraded scio version from 0.4.1 to 0.5.2 and one of our pipelines started to throw null pointer errors which ultimately lead to IO exception which causes job runs to fail.  I reverted the scio version back to 0.4.1 and ran the job with the same code, job finished without errors.

In one of the failed job runs, I logged more info about the behavior of the side input list and found out

[2018-05-09 08:15] jto commented on #1137
If you launch sbt with ` sbt -Dorg.tensorflow.NativeLibrary.DEBUG=true`, you can get a bit of debug which shows that's the library is loaded for each run:

[code]

I'm not sure what's going on because Tensorflow actually checks if the library is already loaded (https://github.com/tensorflow/tensorflow/blob/a9485a4b59477c722ed480baec9043d04cc25ea0/tensorflow/java/src/main/java/org/tensorflow/Native

[2018-05-09 12:57] lelayf commented on #1137
I looked a bit at the C++ monitoring code, looks like `registered_handle_` is reset where needed so a leak would come from a broader scope level.  Shouldn't we expect some unload logic on the Java side though?

[2018-05-09 13:48] tfrojd commented on #1149
If I run the following Macro in a scio pipeline

´´´
  @BigQueryType.fromQuery(
    """
      |SELECT col1, col2
      |FROM `project.dataset.Table_%s`
    """.stripMargin, "$LATEST")
  class PresetActionEntity
´´´

It will compile if the tables are partitioned like  "Table_YYYYMMDD" but not when tables are partitioned like  "Table_YYYYMMDDHH"

[2018-05-09 14:31] jto commented on #1137
So I added the following setting in sbt:

[code]

Here's what happens:

[code]

So the library is already loaded before running the 2nd test but somehow, `isLoaded` returns false so Tensorflow tries to load the lib again.

[2018-05-09 14:51] nevillelyh commented on #1149
The partition ordering logic is here. Can you try to reproduce the issue using these methods?
https://github.com/spotify/scio/blob/master/scio-bigquery/src/main/scala/com/spotify/scio/bigquery/BigQueryPartitionUtil.scala#L57

[2018-05-09 15:03] nevillelyh commented on #1149
Tested that it works with `table_YYYYMMDDHH` format with the following snippet.

[code]

Given 3 tables in `neville_eu` dataset, `table_2018060100`, `table_2018060101` and `table_2018060102`, it correctly returns `table_2018060102`.

It does not work if the date/time string is not a number, i.e. `table_20180601T00`.
Gonna close this as a won't fix.

[2018-05-09 15:03] #1149 closed

[2018-05-09 15:13] nevillelyh commented on #401
Housekeeping: I'm leaning towards closing this. We should recommend vanilla XGBoost on single machine training, and in the near future `scio-zoltar` for distributed prediction. Any objections?

[2018-05-09 15:53] richwhitjr commented on #401
Sounds good.  We get most of this for free when we integrate zoltar. Vanilla XGboost also works in Scio if you are careful with packaging and jni initialization.

[2018-05-09 16:16] #401 closed

[2018-05-09 16:42] jto commented on #1137
Founds a couple of fishy stuff in tensorflow-java.

There's a static bloc in `org.tensorflow.Tensorflow`: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/TensorFlow.java#L70
So when the classloader loads that `Tensorflow` class, `init()` is executed, which calls ` NativeLibrary.load();`
That methods starts by checking if the lib is already loaded:

[2018-05-09 18:46] dsquier commented on #1138
Switched to Scala `2.12.12` (only change) and it won't compile due to an error with the Circe JSON library:

[code]

[2018-05-09 19:34] dsquier commented on #1138
I tried Scala `2.11.12`. I was unable to get the job to compile due to a `missing type error`, i.e.,

[code]

This doesn't happen with Scala `2.12.5`.

I am working on paring down the test case. Will follow up when ready.

[2018-05-09 20:09] nevillelyh commented on #1138
https://github.com/dsquier/scio-beam-spanner-testcase/blob/master/src/main/scala/com/joinhoney/sciobeamspannertestcase/Testcase.scala#L178

This is something in your test code and should be fixable?

[2018-05-09 22:35] dsquier commented on #1138
Fixed issue and pushed to test repo: https://github.com/dsquier/scio-beam-spanner-testcase/commit/dc6c7c95ca5188f7b53f1b2662739536a9055328

Re-ran test and still encountering error:

[code]

[2018-05-11 11:16] chuwy opened #1156 "Add method to create BigQuery table"
Basically a wrapper for `bigquery.tables().insert()`. Or is there existing convenient method that I've missed?

[2018-05-11 13:53] leonardoam opened #1157 "Stateful Processing fails due to incorrect Type in ValueState"
I'm trying to do stateful processing using Scio and beam. My code is doing something like that:

[code]

Translating, I'm reading JSON strings from Pub/Sub, parsing an ID to make a KV, and passing to a DoFn which will do a stateful processing using a state called 'Value'.

I'm able to compile the code, but when I run I get the following exception:

[code]

This exception does not make much sense t

[2018-05-11 13:56] leonardoam commented on #1157
Just adding some more info:

I used this snippet as a reference, not sure what versions is using: https://gist.github.com/calonso/14b06f4f58faf286cc79181cb46a9b85

Is there any limitation or documentation for doing stateful processing in Scio?

[2018-05-11 14:07] leonardoam commented on #1157
Doing same thing in Java, and it works:

[code]

Versions:

[code]

[2018-05-11 14:11] leonardoam commented on #448
Hi guys, I'm having trouble doing stateful processing using Scio. I reported as an issue, but maybe you can help me. Error is reported in the following link: [https://github.com/spotify/scio/issues/1157](https://github.com/spotify/scio/issues/1157)

[2018-05-12 19:15] JozoVilcek opened #1159 "HotKeyFanout crashes on global window with discarding fired panes"
Hello,

I am running following function on scio `0.5.3` and Beam DirectRunner
[code]
The test case feeds some elements to the window and then stops but keep advancing processiong time. The result is crash with this error:
[code]

When using global window with `ACCUMULATING_FIRED_PANES` it does work. It also works with using hotkeys via pure Beam like in this quick example:
[code]

[2018-05-12 19:53] JozoVilcek commented on #1159
OK, so I just find out that if fails the same also if I leave out `.withHotKeyFanout` and do only `sumByKey`. So maybe something wrong with combine function? Or am I doing something wrong?

[2018-05-13 01:06] andrewnguonly commented on #903
Is this being worked on? If not, I can give it a try. For clarification, is this issue for a new `spanner` package similar to `com.spotify.scio.bigtable`?

[2018-05-14 08:36] nevillelyh commented on #1157
The error message reads `data type of reference to StateId Value must be a supertype of ValueState<Double>` and you have `@StateId("Value") valueState: ValueState[Double]`, which leads me to suspect that it's the different type erasure between `java.lang.Double` vs `scala.Double`.

Can you try if `valueState: ValueState[scala.Double]` works?

[2018-05-14 08:39] nevillelyh commented on #1159
It's possible that you have an empty window which `sumByKey` couldn't handle since it doesn't have a default `ZERO` case. You can probably work around it with `foldByKey` or `aggregateByKey `. See #778.

Gonna close this. Feel free to reopen if you have other questions.

[2018-05-14 08:39] #1159 closed

[2018-05-14 09:57] jto commented on #1156
@nevillelyh I agree. Should we add a method in ScioContext to give access to the instance of `com.google.api.services.bigquery.Bigquery` that `BigQueryClient` is using ?

[2018-05-14 10:35] nevillelyh commented on #903
@andrewnguonly yeah we'd love to see one. Please go ahead and give it a try. Yeah I suppose we can add a `scio-spanner` sub-project and corresponding package.

[2018-05-14 13:25] bsmithgall commented on #1051
Given that #1091 and #1119 are both closed, is this issue resolved?

[2018-05-14 13:30] JozoVilcek commented on #1159
Yes, I was not sure mostly about inconsistency between Scio and Beam behaviour. By reading #778 it is clear. I can live with `aggregateByKey()` which works fine. Thanks!

[2018-05-14 13:30] nevillelyh commented on #1051
@bsmithgall I'd wait for a bit longer until more user reports come in. How's it working for you?

[2018-05-14 13:31] bsmithgall commented on #1051
We're using beam pipelines to handle our streaming cases at the moment. I can bump the version and try a scio pipe and let you know what happens.

[2018-05-14 13:58] chuwy commented on #1156
Thanks guys! My initial problem was that I couldn't find a short enough snippet to create a table and at first ended up with something bloated to 15 lines of code. Right now though I've found out I can do just following:

[code]

Which is good enough for me. But I still think exposing `Bigquery` would be really useful as well.

[2018-05-14 14:12] nevillelyh commented on #1156
Well we monkey pathed `BigQueryServicesWrapper` to be public so that we can use it in Scio but it's not really intended as a public API. We can add a `BigQueryClient#createTable` method but shouldn't try to match Java API's functionality (hard with arg list vs builder).

[2018-05-14 14:26] regadas commented on #1051
Closing this now since it was fixed in #1143.

[2018-05-14 14:26] #1051 closed

[2018-05-14 15:01] nevillelyh commented on #867
Is this still relevant? Can we close?

[2018-05-14 17:50] regadas opened #1161 "Benchmark scio-tensorflow"
Currently `PredictDoFn` loads one model per instance with async inference.

We should benchmarks:
 * blocking inference
 * model per class

[2018-05-14 18:43] leonardoam commented on #1157
Yes, that was the problem.
Thanks for helping!
I will close this issue for now.

[2018-05-14 18:43] #1157 closed

[2018-05-15 19:58] ravwojdyla opened #1164 "Create an example of using writeDynamic"
`FileIO#writeDynamic` comes up every now and then, would be good to have an example how to use it. It also seems like it's not very well documented in Beam itself. An example could be to write data per key to GCS with some smartish filenames.

[2018-05-18 06:45] vramana opened #1166 "Link to https version of scio docs"
![image](https://user-images.githubusercontent.com/3112509/40219908-059f4c4e-5a95-11e8-9257-6e78aad66a49.png)

Change from http to https

Thank you.

[2018-05-18 06:55] nevillelyh commented on #1166
Fixed. Thanks for reporting!

[2018-05-18 06:55] #1166 closed

[2018-05-18 07:00] vramana commented on #1166
Thanks once again.

[2018-05-18 12:44] guidj commented on #1073
@ravwojdyla Hey. When you say "pulling the client out of scio to a separate lib", are you referring to pulling the helper methods out of ScioContext, or removing the scio-bigquery project all together?

[2018-05-18 14:32] jto commented on #1137
I had a look at sbt's source code to figure out what it's doing with classloader and I think I know what happens.

The native library il loaded by `System.load` (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/src/main/java/org/tensorflow/NativeLibrary.java#L101). It seems that it this loads the library using the "system" `Classloader`. This makes sense because

The system `Cl

[2018-05-19 14:08] oskoi opened #1167 "Add support for creating partitioned tables"
Now when creating a table using the method `saveAsTypedBigQuery`, it is not possible to specify the field by which to partition the table, the expiration time and the partition type using scio api. I propose to add an annotation that would allow it to be done, or add parameters to the `BigQueryType.toTable`. What do you think about this?

[2018-05-21 11:55] jto commented on #575
What's left to do on this ticket ?
I think most of the task are done in [nio](https://github.com/spotify/scio/tree/nio)

- [x]   migrate all IOs to new ScioIO
- [x]   remove all old test IOs and rename new ScioIOs to old names
- [x]   verify that all tests and examples are backwards compatible
- [ ]   verify that requiredNotClosed usage is localized and consistent

Anything else to be done @nevill

[2018-05-21 13:17] #1134 closed

[2018-05-21 14:57] andrewsmartin opened #1170 "scala BigDecimal serializer?"
Scala's `BigDecimal` class has some stateful fields that get serialized with the Kryo-derived serializer, which breaks mutation detection checks in the direct runner. Should we register a custom serializer within Scio?

[2018-05-21 15:29] ravwojdyla commented on #1137
Fixed in #1168

[2018-05-21 15:29] #1137 closed

[2018-05-21 15:30] ravwojdyla commented on #1043
Fixed in #1162

[2018-05-21 15:30] #1043 closed

[2018-05-21 15:33] ravwojdyla commented on #1099
Fixed in #1162 - it doesn't expose Zoltar's Predictor API, but is good for now. In the future we might expose the Predictor API.

[2018-05-21 15:33] #1099 closed

[2018-05-21 17:50] andrewsmartin opened #1172 "Clean up Kryo stuff"
`KryoAtomicCoder` has blown up quite a bit with the addition of several custom serializers and could use a bit of clean up.

- [ ] Move `KSerializer` classes into a subpackage, maybe `coders.serializers`
- [ ] Add a `ScioRegistrar` for our custom serializers and load in `KryoAtomicCoder` to get rid of the `k.forSubclass` bloat.

[2018-05-21 17:52] regadas opened #1173 "scio-tensorflow/zoltar dependency conflicts"
zoltar seems to be using later versions of the google api's which breaks some of beam's functionality.

[2018-05-21 19:31] nevillelyh commented on #1170
Should we submit this to upstream chill?

[2018-05-21 19:33] andrewsmartin commented on #1170
Sure, I'll open a PR

[2018-05-21 19:54] andrewsmartin commented on #1170
Upstream pr: https://github.com/twitter/chill/pull/312

[2018-05-22 14:59] #1170 closed

[2018-05-22 17:10] andrewsmartin opened #1175 "Remove BigDecimalSerializer after next release of chill"
Submitted upstream: https://github.com/twitter/chill/pull/312

[2018-05-23 15:49] andrewsmartin opened #1177 "Add Beam SQL integration + example"
Probably but not limited to:
- Some mapping between `SCollection[T]` to a SQL collection that can be queried
- Mapping between `T` and Beam SQL row types
- Mapping between `T`'s schema and Beam's SQL schema

[2018-05-23 16:15] LukeDefeo commented on #1164
[code]

Here is a rough thing i cooked up. You need an intermediate type which defines a destination. A fn to go from the element type to this destination case class. You can also define exactly how it is named. Since we need to replicate sparks partitioning scheme of year=2018/month=10.. we encapsulate this in a case class and then in the name mapping for each destination we emit this path. Withi

[2018-05-23 20:58] pabloazurduy commented on #951
I was redirected here from google because I was using the `bigquery-client` library and the same error appeared. Does anybody found a workaround to this issue?

[2018-05-24 09:40] nevillelyh opened #1179 "[NIO] Migrating TestIO to ScioIO"
- [x] Migrate `PubsubIO`
- [x] Migrate `JsonIO`
- [x] Migrate TensorFlow IOs
- [x] Rename [`JobTest#{inputNio,outputNio}`](https://github.com/spotify/scio/blob/nio/scio-test/src/main/scala/com/spotify/scio/testing/JobTest.scala#L132) to `input/output`, overwriting the legacy ones.
- [x] Remove [`TestIO[T]`](https://github.com/spotify/scio/blob/nio/scio-core/src/main/scala/com/spotify/scio/testing/

[2018-05-24 09:41] nevillelyh commented on #575
This is getting too long and most of the coding work is done. Created #1179 for actual migration.

[2018-05-24 09:41] #575 closed

[2018-05-25 08:22] Juta opened #1182 "Group by & Windowing: AbstractList.add UnsupportedOperationException"
I am writing a pipeline to deduplicate arriving messages in pubsub. If a message with the same key arrives in a 30s window, only the latest message should be kept.

When testing this pipeline on a test set it works fine. However when putting it in production with > 50000 messages each minute in pubsub I get the following error. I have no idea why it is caused and I am unable to reproduce it with a

[2018-05-25 08:30] nevillelyh commented on #1182
So somehow the `JList[T]` to `addInput` method is immutable.
https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/util/Functions.scala#L158

I'm suspecting that `mergeAccumulators` is the culprit, since the returned `JList` is a wrapped Scala `List` and most likely immutable.
https://github.com/spotify/scio/blob/master/scio-core/src/main/scala/com/spotify/scio/util

[2018-05-25 11:34] nevillelyh opened #1183 "Profile and optimize transforms"
There're a lot of transforms on `SCollection` and `PairSCollectionFunctions`. Some of them may have big performance overhead and we should figure out a way to profile them thoroughly and optimize.

[2018-05-25 11:37] nevillelyh opened #1184 "Revamp coders with magnolia derivation"
## Tentative plan:
- [x] Implement magnolia based coder derivation in a separate namespace
- [x] Provide implicits for built-in Beam coders
- [x] Implement implicit coders for common Scala and other data types
- [x] Make `KryoAtomicCoder` a fallback that needs to be explicitly imported and supplied
- [x] Test compile some customer pipelines to verify coder coverage
- [ ] Update downstream projects

[2018-05-25 12:50] nevillelyh commented on #1182
I can reproduce with the following snippet

[code]

So the returned `JList[T]` of `mergeAccumulators` is immutable and cannot be used in another `addInput` call.